<section class="reviews-bg-1">
    <div class="container text-center">
        <h1 style="color: white">ABOUT</h1>
    </div>
</section>
<section class="no-padding">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row" style="margin-top: 50px">
                <div class="col-xs-12">
                    <img src="../images/logo-hand-brand.png" class="img-responsive center-block" style="max-height: 100px">
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-xs-12">
                <div class="menuItemBottom">
                    Siam Classic's top-rated Thai dishes are a cherished staple among Manassas diners. Siam Classic
                    serves food that not only tastes great, but is low in fat and gluten-free. Want to pair your entree
                    with a glass of wine or draft beer? This restaurant has a fully-stocked bar to complement your meal. Bring
                    your whole brood to this restaurant, where families can dig in to tasty and kid-friendly fare
                    together. For no extra charge, utilize Siam Classic's free wifi.
                </div>
                <br>
                <div class="menuItemBottom">
                    Siam Classic honors a business casual dress code, so formal wear can be left behind. Come in or stay
                    home. This restaurant's pickup and delivery options have you covered.
                </div>
                <br>
                <div class="menuItemBottom">
                    Siam Classic offers complimentary parking at a lot close by. For those who prefer to travel by bike,
                    Siam Classic is a great option due to its generous bike parking options.
                </div>
                <br>
                <div class="menuItemBottom">
                    Siam Classic's fare is so good, you'll want to sample everything on the menu (and with its
                    middle-of-the-road prices, you can!). So if curry and peanut sauce is what makes you happy, make
                    sure to try the much talked about Thai cuisine at Siam Classic.
                </div>
                </div>
            </div>
            <hr class="skinny">
            <div class="row" >
                <div class="col-xs-4">
                    <div class="row">
                        <img class="img-responsive center-block" src="images/gluten.png" style="max-height: 150px">
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <img class="img-responsive center-block" src="images/veg.png" style="max-height: 150px">
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <img class="img-responsive center-block" src="images/halal.png" style="max-height: 150px">
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-xs-12"  style="margin-top: 20px">
                    <div class="menuItemBottom">
                        We, at Siam Classic, strive for the best, most authentic Thai food in the DC Metropolitan Area.  All of our meats are prepared to Halal standards, while we also offer vegetarian and gluten free options that are just as delicious.
                    </div>
                    <br>
                    <div class="menuItemBottom">
                        There is no processed food in our kitchens.  Everything is made fresh, using organic ingredients.  All fried food orders are battered and fried to order and we get our peppers & herbs from a garden out back!  You'll be able to taste the difference with our fresh ingredients.  Whether it be spicy or sweet, salty or savory we have something for everyone on our menu!
                    </div>
                </div>
               <!-- <div class="col-xs-4 col-xs-offset-4" style="margin-top: 20px">
                    <img src="../images/order-btn.png" ng-click="orderOnlineStart()" class="img-responsive center-block"
                         style="max-height: 150px; cursor: pointer;">
                </div>-->
            </div>
            <hr class="skinny" style="margin-top: 50px">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <p> <b><u>Siam Classic</u></b><br>
                        9403 East Street, Manassas, VA<br>
                        703-368-5647<br>
                        703-368-3446<br>
                        siamclassicva@gmail.com
                    </p>
                </div>
                <div class="col-sm-6 text-center">
                    <p>
                        <b><u>Hours</u></b><br>
                        11:00 am to 9:30 pm - Monday thru Thursday<br>
                        11:00 am to 10:00 pm - Friday<br>
                        11:00 am to 10:00 pm - Saturday<br>
                        11:00 am to 9:30 pm - Sunday<br>
                    </p>
                </div>
            </div>
            <hr class="skinny" style="margin-top: 50px">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3><b><u>Delivery Info</u></b></h3>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12">
                    <img src="../images/restaurant/SiamClassic-Map-Radius.png" class="img-responsive center-block">
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="menuItemBottom text-center">
                    Free Delivery for Lunch & Dinner orders when order is over $20.00 and within 5 miles.<br>
                    Under $20, Delivery Fee is $1 per Mile.<br>
                    Delivery time 45 - 80 minutes (varies according to location and restaurant traffic).
                </div>
            </div>


        </div>
    </div>
</section>