<div class="nav-pad"></div>
<section class="no-padding">
    <div class="container-fluid navbar-collapse collapse">
        <div class="row no-gutter">
            <img src="../images/logo-caption-hand.png" class="img-responsive">
        </div>
    </div>
    <div class="container-fluid visible-xs">
        <div class="row no-gutter">
            <img src="../images/icon-v3-formatted.jpg" class="img-responsive">
        </div>
    </div>
</section>
<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-3 col-sm-6 col-xs-12" >
                <a class="portfolio-box" href="#/Home/menu">
                    <img src="../images/food/bangkokspicyshrimp.jpg" class="img-responsive img-button" alt>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content customWrapper2">
                            <div class="project-name">
                                Explore our Menu
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="portfolio-box" style="cursor: pointer" ng-click="orderOnlineStart()">
                    <img src="../images/restaurant/server.jpg" class="img-responsive img-button" alt>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content customWrapper2">
                            <div class="project-name">
                                Start an Order
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" >
                <a class="portfolio-box" href="#/Home/about">
                    <img src="../images/restaurant/sign.jpg" class="img-responsive img-button" alt>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content customWrapper2 customWrapper3">
                            <div class="project-name">
                                Learn more About us!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" >
                <a class="portfolio-box" href="#/Home/reviews">
                    <img src="../images/food/thaispicysausage_cup.jpg" class="img-responsive img-button" alt>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content customWrapper2">
                            <div class="project-name">
                                See our Reviews!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="no-padding home-specials-bg">
    <div class="container">
        <div class="row" style="padding-top: 50px">
            <div class="col-xs-8 col-xs-offset-2" style="background: #821616; border-radius: 15px">
                <div class="container-fluid text-center" style="color: white">
                    <h4><u><b>NEW SUNDAY HOURS!</b></u></h4>
                    <br>
                    <p><strong>Sunday: </strong>Open from 11:00 am - 9:30pm.</p>
                </div>
            </div>
        </div>
        <!--<div class="row" style="padding-top: 50px">
            <div class="col-sm-4 col-sm-offset-4 text-center" >
                <img src="../images/order-btn.png" ng-click="orderOnlineStart()" class="img-responsive center-block" style="cursor: pointer; max-height: 300px"/>
            </div>
        </div>-->
        <div class="row" style="padding-top: 50px; padding-bottom: 50px; color: #FFF">
            <div class="col-xs-12 text-center">
                <h1 style="border: 1px solid #a22525; border-radius: 30px; box-shadow: 10px 10px 0 rgba(0,0,0,.4); color: #a22525; background: white"><b>WINTER SPECIALS</b></h1>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="item in menuSpecials"  ng-if="$index % 3 == 0">
                <div class="col-lg-2 hidden-md" ng-if="!menuSpecials[$index + 2]"></div>
                <div class="col-lg-4 hidden-md" ng-if="!menuSpecials[$index + 1] && !menuSpecials[$index + 2]"></div>
                <div class="col-lg-4 col-sm-6" ng-if="menuSpecials[$index]">
                    <div class="thumbnail" style="border-color: #a22525; box-shadow: 10px 10px 0 rgba(0,0,0,.4);">
                        <a href="" ng-click="setTabIndex(0)" style="cursor: pointer">
                            <img ng-src="data:image/jpeg;base64,{{menuSpecials[$index].image}}" alt="{{menuSpecials[$index].translated_name}}" class="img-responsive" style="max-height: 400px">
                            <div class="caption text-center">
                                <p><b style="color: #a22525">{{menuSpecials[$index].translated_name}}</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs" ng-if="!menuSpecials[$index + 2]"></div>
                <div class="col-lg-4 col-sm-6" ng-if="menuSpecials[$index + 1]">
                    <div class="thumbnail" style="border-color: #a22525; box-shadow: 10px 10px 0 rgba(0,0,0,.4);">
                        <a href="" ng-click="setTabIndex(0)" style="cursor: pointer">
                            <img ng-src="data:image/jpeg;base64,{{menuSpecials[$index + 1].image}}" alt="{{menuSpecials[$index + 1].translated_name}}" class="img-responsive" style="max-height: 400px">
                            <div class="caption text-center">
                                <p><b style="color: #a22525">{{menuSpecials[$index + 1].translated_name}}</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" ng-if="menuSpecials[$index + 2]">
                    <div class="thumbnail" style="border-color: #a22525; box-shadow: 10px 10px 0 rgba(0,0,0,.4);">
                        <a href="" ng-click="setTabIndex(0)" style="cursor: pointer">
                            <img ng-src="data:image/jpeg;base64,{{menuSpecials[$index + 2].image}}" alt="{{menuSpecials[$index + 2].translated_name}}" class="img-responsive" style="max-height: 400px">
                            <div class="caption text-center">
                                <p><b style="color: #a22525">{{menuSpecials[$index + 2].translated_name}}</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <!--<div class="row" style="padding-top: 20px">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-lg button-affirmative" ng-click="goTo('/Home/menu')">Go To Full Menu</button>
        </div>
    </div>-->
    </div>
</section>
<section class="home-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center customWrapper1">
                <h2 class="section-heading" style="color: #dadada">Welcome to Siam Classic</h2>
                <hr class="light">
                <p class="sr-introText text-faded" data-sr-id="11"
                   style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; ">Home to the best Thai food; authentic, organic and as spicy as you want it
                    </p>
                <hr class="light">
                <p class="sr-introText text-faded" data-sr-id="12"
                   style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; transition: transform 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; ">Using the garden we grow ourselves, we use all fresh ingredients -- no frozen, processed foods
                    </p>
                <hr class="light">
                <p class="text-faded">We offer fast Thai food delivery to the Manassas area.  If you're order is over $20, delivery is free! </p>
                <hr class="light">
                <p class="text-faded">If you're looking for something bigger, try our catering services! Call (703) 368-5647</p>
                <hr class="light">
                <a href="" class="btn button-affirmative" ng-click="orderOnlineStart()">Order Now!</a>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="no-padding">
    <div class="container" style="padding-top: 80px; padding-bottom: 100px">
            <div class="row">
                <div class="col-sm-6 text-center" style="padding-top: 20px">
                    <img src="../images/restaurant/outside-building.jpg" class="img-responsive img-circle">
                    <h2 class="section-heading">Take Out</h2>
                    <hr class="primary">
                    <p>
                        In a hurry? Need to just grab-n-go?<br>
                        Please call Siam Classic at 703-368-5647, 703-368-3446.<br>
                        Text Us at 571-357-9092. Or <a href="" ng-click="orderOnlineStart()" style="color: black">Click</a> to order online. <br>
                        You can also schedule a future order with our online ordering system.
                    </p>
                </div>
                <div class="col-sm-6 text-center" style="padding-top: 20px">
                    <img src="../images/restaurant/outside-herbs.jpg" class="img-responsive img-circle">
                    <h2 class="section-heading">Delivery</h2>
                    <hr class="primary">
                    <p>
                        Free Delivery Lunch & Dinner with $20.00 within 5 miles.<br>
                        Under $20 Delivery Fee $1 per Mile.<br>
                        Delivery time 45 - 80 minutes varies according to location and traffic.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center" style="padding-top: 20px">
                    <img src="../images/food/catering.jpg" class="img-responsive img-circle">
                    <h2 class="section-heading">Catering</h2>
                    <hr class="primary">
                    <p>
                        Let Siam Classic make your event a successful one with our authentic THAI food catering
                        services.<br>
                        Whether you plan for a group lunch or dinner, company party, board meeting, employees’
                        orientation, birthday party,
                        farewell party, wedding, or any other occasions, our delicious THAI food can make you stay
                        happy, stay healthy and stay full!<br>
                        Call Us at 571-357-9092, Email Us at siamclassicva@gmail.com or <a href="" ng-click="orderOnlineStart()" style="color: black">Click</a> to order online.
                    </p>
                </div>

                <div class="col-sm-6 text-center" style="padding-top: 20px">
                    <img src="../images/restaurant/table.jpg" class="img-responsive img-circle">
                    <h2 class="section-heading">Reservations</h2>
                    <hr class="primary">
                    <p>
                        Plan to dine in at Siam Classic? We have it all for you.<br>
                        You can reserve your seats in advance with us for group lunch or dinner with 10 people or more.
                        <br>
                        Private group dining is available upon request with up to 20 people.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center" style="padding-top: 20px">
                    <img src="../images/food/freshsummerrolls.jpg" class="img-responsive img-circle">
                    <h2 class="section-heading">High Quality</h2>
                    <hr class="primary">
                    <p>
                        If we DO NOT EAT IT, we DO NOT SERVE IT. You eat what we eat. We're proud to serve Fresh and Organic (we have our own garden) THAI ingredients. <br>
                        We are concerned about your health. We make it clean and use non-processed, non-frozen food. <br>
                        We are very famous for our peppers. We grow and mix them to get the best flavor and spice, then hand pick them to cook for you. <br>
                        You can choose any level of spice, staring from Level 1 going all the way to Level 10. <br>
                        Come and Try our fresh, organic peppers!
                    </p>
                </div>
                <div class="col-sm-6 text-center" style="padding-top: 20px">
                    <img src="../images/food/cookies-gift.jpg" class="img-responsive img-circle">
                    <h2 class="section-heading">Gift Cards</h2>
                    <hr class="primary">
                    <p>
                        Give the gift of healthy, organic THAI food to your loved ones with one of our Gift Cards. <br>
                        Get Siam Classic THAI cuisine gift cards in store!
                    </p>
                </div>
            </div>
    </div>
</section>
