<div class="affix text-center small-menu-nav"
     style="top: 50px; left: 0; z-index: 10; width: 100vw; padding: 0; margin: 0">
    <div class="row">
        <div class="btn-group" uib-dropdown>
            <button id="btn-append-to-body" type="button" class="btn menu-dropdown-button"
                    style="width: 100vw; height: 8vh; font-size: 18px" uib-dropdown-toggle>
                <span class="glyphicon glyphicon-menu-hamburger"></span> MENU: {{menuCat[selectedView]}}
            </button>
            <ul class="dropdown-menu menu-dropdown" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body"
                style="width: 100vw">
                <li ng-repeat-start="cat in menuCat" role="menuitem" class="text-center">
                    <h4 ng-click="selected($index)">{{cat}}</h4>
                </li>
                <li ng-repeat-end class="divider"></li>
            </ul>
        </div>
    </div>
</div>
<div class="affix text-center big-menu-nav"
     style="top: 50px; left: 0; z-index: 10; width: 100vw; padding: 0; margin: 0">
    <div class="row">
        <div class="btn-group big-menu-nav">
            <label ng-repeat="cat in menuCat" class="btn btn-menu-cat" data-ng-click="selected($index)" ng-class="{'active' : selectedCat == '{{cat}}'}">{{cat}}</label>
        </div>
    </div>
</div>
<div class="affix text-center"
     style="bottom: 50px; z-index: 10; width: 80vw; padding: 0; margin-left:10vw; margin-right: 10vw;">
    <div uib-alert class="alert alert-success" ng-if="showAddAlert">Item added successfully!</div>
</div>
<div class="affix text-center"
     style="bottom: 50px; z-index: 10; width: 80vw; padding: 0; margin-left:10vw; margin-right: 10vw;">
    <div uib-alert class="alert alert-warning" ng-if="showClearAlert">Shopping Cart was cleared</div>
</div>
<div class="affix text-center"
     style="bottom: 50px; z-index: 10; width: 80vw; padding: 0; margin-left:10vw; margin-right: 10vw;">
    <div uib-alert class="alert alert-info" ng-if="showCreateAlert">Shopping cart created!</div>
</div>
<div class="container-fluid" style="margin-top: 15vh">
    <!--Buffer when not ordering-->
    <div class="col-lg-2" ng-if="!isOrdering()"></div>

    <!--Menu when not ordering-->
    <div class="col-lg-8 text-center" ng-if="!isOrdering()">
        <div ng-repeat="group in fullMenu" class="col-xs-12" ng-if="selectedView == $index">
            <div ng-repeat="cat in group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="menuItemGroup">{{cat.name}}</div>
                    </div>
                </div>
                <div class="menuGroupAlignment">
                    <div ng-repeat="item in cat.items" ng-if="$index % 2 == 0">
                        <!--Left Side-->
                        <div class="row" ng-if="cat.items[$index]">
                            <div class='menuItem menuLeft' ng-if="cat.items[$index].image !== null">
                                <div class="col-sm-4 col-sm-offset-1" style="margin-bottom: 10px">
                                    <img ng-src="data:image/jpeg;base64,{{cat.items[$index].image}}"
                                         class="media-object img-responsive center-block"
                                         style="border-radius: 15px; max-height: 150px">
                                </div>
                                <div class="col-sm-6">
                                    <div class='menuItemTop' ng-if="cat.items[$index]">
                                        <div class='menuItemName'>{{cat.items[$index].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index].description}}</div>
                                </div>
                            </div>
                            <div class='menuItem menuLeft' ng-if="cat.items[$index].image === null">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class='menuItemTop' ng-if="cat.items[$index]">
                                        <div class='menuItemName'>{{cat.items[$index].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index].description}}</div>
                                </div>
                            </div>
                        </div>
                        <!--Right Side-->
                        <div class="row" ng-if="cat.items[$index + 1]">
                            <div class='menuItem menuRight' ng-if="cat.items[$index + 1].image !== null">
                                <div class="col-sm-4 hidden-lg hidden-md hidden-sm" style="margin-bottom: 10px">
                                    <img ng-src="data:image/jpeg;base64,{{cat.items[$index + 1].image}}"
                                         class="media-object img-responsive center-block"
                                         style="border-radius: 15px; max-height: 150px">
                                </div>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <div class='menuItemTop' ng-if="cat.items[$index + 1]">
                                        <div class='menuItemName'>{{cat.items[$index + 1].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index + 1].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index + 1].description}}</div>
                                </div>
                                <div class="col-sm-4 hidden-xs">
                                    <img ng-src="data:image/jpeg;base64,{{cat.items[$index + 1].image}}"
                                         class="media-object img-responsive center-block"
                                         style="border-radius: 15px; max-height: 150px">
                                </div>
                            </div>
                            <div class='menuItem menuRight' ng-if="cat.items[$index + 1].image === null">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class='menuItemTop' ng-if="cat.items[$index + 1]">
                                        <div class='menuItemName'>{{cat.items[$index + 1].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index + 1].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index + 1].description}}</div>
                                </div>
                            </div>
                        </div>
                        <div class='clr'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Menu when ordering-->
    <div class="col-lg-8 text-center" ng-if="isOrdering()">
        <div ng-repeat="group in fullMenu" class="col-xs-12" ng-if="selectedView == $index">
            <div ng-repeat="cat in group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="menuItemGroup">{{cat.name}}</div>
                    </div>
                </div>
                <div class="menuGroupAlignment">
                    <div ng-repeat="item in cat.items" ng-if="$index % 2 == 0">
                        <!--Left Side-->
                        <div class="row" ng-if="cat.items[$index]">
                            <div class='menuItem menuLeft order-menuItem-box' ng-click="addItemToOrder(cat.items[$index])" ng-if="cat.items[$index].image !== null">
                                <div class="col-sm-4 col-sm-offset-1" style="margin-bottom: 10px">
                                    <img ng-src="data:image/jpeg;base64,{{cat.items[$index].image}}"
                                         class="media-object img-responsive center-block"
                                         style="border-radius: 15px; max-height: 150px">
                                </div>
                                <div class="col-sm-6">
                                    <div class='menuItemTop' ng-if="cat.items[$index]">
                                        <div class='menuItemName'>{{cat.items[$index].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index].description}}</div>
                                </div>
                            </div>
                            <div class='menuItem menuLeft order-menuItem-box' ng-click="addItemToOrder(cat.items[$index])" ng-if="cat.items[$index].image === null">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class='menuItemTop' ng-if="cat.items[$index]">
                                        <div class='menuItemName'>{{cat.items[$index].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index].description}}</div>
                                </div>
                            </div>
                        </div>
                        <!--Right Side-->
                        <div class="row" ng-if="cat.items[$index + 1]">
                            <div class='menuItem menuRight order-menuItem-box' ng-click="addItemToOrder(cat.items[$index + 1])" ng-if="cat.items[$index + 1].image !== null">
                                <div class="col-sm-4 hidden-lg hidden-md hidden-sm" style="margin-bottom: 10px">
                                    <img ng-src="data:image/jpeg;base64,{{cat.items[$index + 1].image}}"
                                         class="media-object img-responsive center-block"
                                         style="border-radius: 15px; max-height: 150px">
                                </div>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <div class='menuItemTop' ng-if="cat.items[$index + 1]">
                                        <div class='menuItemName'>{{cat.items[$index + 1].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index + 1].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index + 1].description}}</div>
                                </div>
                                <div class="col-sm-4 hidden-xs">
                                    <img ng-src="data:image/jpeg;base64,{{cat.items[$index + 1].image}}"
                                         class="media-object img-responsive center-block"
                                         style="border-radius: 15px; max-height: 150px">
                                </div>
                            </div>
                            <div class='menuItem menuRight order-menuItem-box' ng-click="addItemToOrder(cat.items[$index + 1])" ng-if="cat.items[$index + 1].image === null">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class='menuItemTop' ng-if="cat.items[$index + 1]">
                                        <div class='menuItemName'>{{cat.items[$index + 1].translated_name}}</div>
                                        <div class='menuItemPrice'>{{cat.items[$index + 1].price}}</div>
                                        <div class='clr'></div>
                                    </div>
                                    <div class='menuItemBottom'>{{cat.items[$index + 1].description}}</div>
                                </div>
                            </div>
                        </div>
                        <div class='clr'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Shopping Cart-->
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs affix" id="sidebar" data-spy="affix" data-offset-top="10" data-offset-bottom="400" style="right: 0" ng-if="isOrdering()">
        <!--<div class="container-fluid" >-->
            <div class="container-fluid">
                <div class="row text-center" style="border-bottom: black 1px solid;">
                        <h3 style="font-weight: bold">Shopping Cart</h3>
                </div>
                <div class="row">
                    <div class="container" style="width: 100%; max-height: 50vh; overflow-y: auto">
                        <div class="row text-center" ng-if="!hasOrder"><p>Your shopping cart is empty!</p></div>
                        <div class="row" data-ng-repeat="item in order" style="padding-bottom: 20px" ng-if="hasOrder">
                            <div class='cartItem'>
                                <div class='menuItemTop'>
                                    <div class="col-sm-10">
                                        <div class='menuItemName'>{{item.item.translated_name}}<span
                                                class="cartItemDesc"> <small>(${{item.item.price.toFixed(2)}})</small></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <div><a ng-click="remove($index)" class="shopping-cart-a">&times</a></div>
                                    </div>
                                </div>
                                <div class='cartItemBottom'>
                                    <div class="col-xs-12" ng-if="item.hasModifiers">
                                        <div class="cartItemDesc" ng-if="item.modifier.price > 0.0">Choice:
                                            {{item.modifier.translated_name + ' (+$' + item.modifier.price + ')'}}
                                        </div>
                                        <div class="cartItemDesc" ng-if="item.modifier.price == 0.0">Choice:
                                            {{item.modifier.translated_name}}
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-if="item.hasExtras">
                                        <div class="cartItemDesc" ng-if="item.extras.length > 0">Added: <span
                                                ng-repeat="obj in item.extras" style="font-size: 10px">|{{obj.name}} (+${{obj.price.toFixed(2)}})|  </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-if="item.hasSpice">
                                        <div class="cartItemDesc">Spicy Level: {{item.spice}}</div>
                                    </div>
                                    <div class="col-xs-12" ng-if="item.hasRice">
                                        <div class="cartItemDesc" ng-if="item.riceType !== 'Fried'">Rice:
                                            {{item.riceType}}
                                        </div>
                                        <div class="cartItemDesc" ng-if="item.riceType === 'Fried'">Rice:
                                            {{item.riceType}}
                                            (+$2.00)
                                        </div>
                                    </div>
                                    <div class="col-xs-12" ng-if="item.hasBoba">
                                        <div class="cartItemDesc" ng-if="item.bobaPrice === 1">Boba Added (+$1.00)</div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="cartItemDesc">[{{item.specIns}}]</div>
                                    </div>
                                </div>
                                <div class="col-xs-6" style="padding-top: 10px">
                                    <div style="font-size: 20px"><a ng-click="decreaseQty($index)"
                                                                    class="shopping-cart-a">-</a>
                                        {{item.quantity}} <a
                                                ng-click="increaseQty($index)" class="shopping-cart-a">+</a></div>
                                </div>
                                <div class="col-xs-6 text-right" style="padding-top: 10px">
                                    <div class='menuItemPrice'>{{(item.indivPrice * item.quantity).toFixed(2)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row" style="margin-top: 20px" ng-if="hasOrder">
                        <div class="col-xs-12 cartItemDesc" style="font-size: 10px">Sub-Total: ${{cost.toFixed(2)}}
                        </div>
                        <div class="col-xs-12 cartItemDesc" style="font-size: 10px">Tax: ${{tax.toFixed(2)}}</div>
                        <div class="col-xs-12 cartItemDesc" style="font-size: 10px" ng-if="deliFee > 0">Delivery Fee:
                            ${{deliFee.toFixed(2)}}
                        </div>
                        <div class="col-xs-12 menuItemPrice">Total: ${{totalCost.toFixed(2)}}</div>
                        <div class="col-xs-6" style="margin-top: 10px">
                            <button class="btn btn-block button-affirmative" ng-click="orderPay()">DONE</button>
                        </div>
                        <div class="col-xs-6" style="margin-top: 10px">
                            <button class="btn btn-block button-negative" ng-click="close()">CLOSE</button>
                        </div>
                        <div class="col-xs-6 text-center" style="padding-top: 20px;">
                            <a href="" ng-click="cancel()" style=" color: #c50a0a">Cancel Order</a>
                        </div>
                        <div class="col-xs-6 text-center" style="padding-top: 20px;">
                            <a href="" ng-click="clear()" style=" color: #c50a0a">Clear Order</a>
                        </div>
                    </div>
                    <div class="row" ng-if="!hasOrder">
                        <div class="col-xs-12 text-center" style="padding-top: 20px;">
                            <a href="" ng-click="cancel()" style=" color: #c50a0a">Cancel Order</a>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>

    <div class="col-lg-2" ng-if="!isOrdering()">
        <div class="col-xs-12 text-center hidden-md hidden-sm hidden-xs">
            <img src="../images/order-btn.png" ng-click="orderOnlineStart()" class="img-responsive" style="cursor: pointer; transform: rotate(15deg)"/>
        </div>
    </div>
</div>

