<section class="reviews-bg-1">
    <div class="container text-center">
        <h1 style="color: white">REVIEWS</h1>
    </div>
</section>
<section>
    <div class="container">
        <!-- WaPo -->

        <div class="row" style="padding-top: 100px">
        <div class="col-md-4 col-md-offset-1">
            <div class='menuItemTop'><a href="http://www.washingtonpost.com/wp-dyn/articles/A40569-2004Sep22.html"
                                        target="_blank">
                <img src="../images/reviews/wapoLogo.png" alt="Picture" class="img-responsive">
            </a>
            </div>
            <div class='menuItemBottom'>Thursday, September 23, 2004; Page PW16
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class='menuItemTop'>
                <a href="http://www.washingtonpost.com/wp-dyn/articles/A40569-2004Sep22.html" target="_blank"
                   class="menuItemName">Siam Classic Offers Up Many Reasons to Try Thai</a><br>
            </div>
            <div class='menuItemBottom'>It sometimes seems that there is a Thai restaurant on every second corner in
                downtown Washington and the nearby suburbs. It's different in Manassas, where Salvadoran, Mexican
                and Central American restaurants predominate...
            </div>
        </div>
        </div>

        <!-- Manassas -->
        <div class="row" style="padding-top: 100px">
        <div class="col-md-4 col-md-offset-1">
            <div class='menuItemTop'><a href="http://manassas.patch.com/groups/business-news/p/bites-nearby-siam-classic" target="_blank">
                <img src="../images/reviews/manPatchLogo.jpg" alt="Picture" class="img-responsive">
            </a>
            </div>
            <div class='menuItemBottom'>Nathan Heath, May 26, 2011
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class='menuItemTop'>
                <a href="http://manassas.patch.com/groups/business-news/p/bites-nearby-siam-classic" target="_blank" class="menuItemName">Bites Nearby: Siam Classic</a>
                <br>
            </div>
            <div class='menuItemBottom'>If you're a Thai food lover than you might be familiar with those words.  If not, Siam Classic in Old Town can quickly introduce you to these traditional Thai favorites.  With a 4 1/2 star rating on Yelp! and over 50 reviews, Siam is serving up some serious Thai cuisine.  Plush displays of flowers, shrubs and mixed herbs softly announce the presence of the small brick building on East Street.
                Upon entering, one would quickly notice the good ratings on Yelp! aren't the only achievements of the local eatery; the establishment is also the winner of the 2006, 2008 and 2010 "Best of Prince William" award for its great food...
            </div>
        </div>
        </div>

        <!-- PG County -->
        <div class="row" style="padding-top: 100px">
            <div class="col-md-4 col-md-offset-1">
                <div class='menuItemTop'><a href="http://media.mgnetwork.com/creativeservices/insidenova/best_of_pw/" target="_blank">
                    <img src="../images/reviews/princeWill.png" alt="Picture" class="img-responsive" >
                </a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class='menuItemTop'>
                    <a href="http://media.mgnetwork.com/creativeservices/insidenova/best_of_pw/" target="_blank" class="menuItemName">"Best of Prince William"</a><br>
                </div>
                <div class='menuItemBottom'>2012 Best Asian Restaurant
                </div>
            </div>
        </div>

        <!-- Yelp -->
        <div class="row" style="padding-top: 100px">
            <div class="col-md-4 col-md-offset-1">
                <div class='menuItemTop'><a href="http://www.yelp.com/biz/siam-classic-manassas" target="_blank">
                    <img src="../images/reviews/yelpLogo.png" alt="Picture" class="img-responsive" style="max-height: 200px">
                </a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class='menuItemTop'>
                    <a href="http://www.yelp.com/biz/siam-classic-manassas" target="_blank" class="menuItemName">Siam Classic on Yelp</a><br>
                </div>
                <div class='menuItemBottom'>"Siam Classic is a wonderful hidden gem in Old Town Manassas."
                    <br><br>
                    "My sweetheart had the Pad Thai, which was really good as well."
                    <br><br>
                    "super tasty noodle dishes (the drunken noodles."
                </div>
            </div>
        </div>

        <!-- Manassas -->
        <div class="row" style="padding-top: 100px; padding-bottom: 100px">
            <div class="col-md-4 col-md-offset-1">
                <div class='menuItemTop'><a href="http://www.tripadvisor.com/Restaurant_Review-g60895-d1052206-Reviews-Siam_Classic-Manassas_Prince_William_County_Virginia.html" target="_blank">
                    <img src="../images/reviews/tripAdLogo.png" alt="Picture" class="img-responsive">
                </a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class='menuItemTop'>
                    <a href="http://www.tripadvisor.com/Restaurant_Review-g60895-d1052206-Reviews-Siam_Classic-Manassas_Prince_William_County_Virginia.html" target="_blank" class="menuItemName">Siam Classic on tripadvisor</a><br>
                </div>
                <div class='menuItemBottom'>"My husband and I stumbled upon Siam Classic shortly after moving Manassas a couple years ago - it's now our favorite Thai Restaurant (and our friends agree)! The menu features a wide selection, and it's tough to decide what to order. The food is always good, and the owner is nice. We dine here at least 1x/month, and have ordered..." - CKL87 May 1, 2013
                </div>
            </div>
        </div>
    </div>
</section>
