input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.btn-default.active, .btn-default:active, .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-primary {
    background-image: none
}
.no-padding{
    padding: 0;
}
.no-gutter > [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
hr {
    border-color: #a22525;
    border-width: 3px;
    max-width: 50px
}

hr.light {
    border-color: #fff
}
hr.skinny{
    border-width: 1px;
    max-width: 100%;
}
.clr {
    clear: both;
}
footer{
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #981616 !important;
}
.navbar-brand{
    font-size: 1.5em;
}
.nav-links{
    font-size: 1em;
}
@media(max-width: 768px){
    .navbar-brand{
        font-size: 1.15em;
    }
    .nav-links{
        font-size: 0.75em;
    }
}
@media(max-width: 426px){
    .navbar-brand{
        font-size: 1.5em;
    }
    .nav-links{
        font-size: 1em;
    }
}
.nav-pad{
 padding-top: 50px;
}
.header-box{
    position: relative;
    display: block;
    margin: 0 auto;
}
.header-box .header-box-caption {
    color: #fff;
    display: block;
    background-color: rgba(56,58,68,0);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s
}
.header-box .header-box-caption .header-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px
}
.header-box:focus {
    outline: 0
}
.header-box .header-box-caption .header-box-header-content .header-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px
}

.header-box .header-box-caption .header-box-caption-content .header-name {
    font-size: 18px
}
@media (min-width: 768px) {
    .header-box .header-box-caption .header-box-caption-content .header-category {
        font-size: 16px
    }

    .header-box .header-box-caption .header-box-caption-content .header-name {
        font-size: 22px
    }

}
.portfolio-box {
    position: relative;
    display: block;
    max-width: 1080px;
    margin: 0 auto
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.portfolio-box .portfolio-box-caption {
    color: #fff;
    display: block;
    background-color: rgba(56,58,68,0);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s
}
.portfolio-box:hover .img-button{
    filter: grayscale(100%);
}
.portfolio-box:hover .customWrapper2{
    background-color: rgba(0,0,0,1);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px
}
.portfolio-box:focus {
    outline: 0
}
.text-faded {
    color: rgba(255, 255, 255, .7)
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px
}
@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px
    }
}
@media (max-width: 768px){
    .project-name{
        font-size:  12px !important;
    }
}
.customWrapper1 {
    background: #821616;
    border: 2px solid #7b0404;
    padding: 40px;
}
.customWrapper2 {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    transition: all 0.5s
}
.home-bg-header{
    background:url('../images/banner-logo.png') no-repeat center;
    background-color: #592921;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-bg-1{
 background: #a22525;
    padding-top: 100px;
    padding-bottom: 100px;
}
#homeHeading1 {
    font-size: 27px;
    letter-spacing: 10px;
}
#homeHeading2 {
    font-family: 'Lobster', cursive;
    letter-spacing: 10px;
    margin-top: 10px;
}
.img-button {
    transition: all 0.5s;
    filter: grayscale(30%);
}
.home-specials-bg{
    background-image: url("../images/banner-3.jpg");
    width: 100%;
    min-height: 550px;
    padding-bottom: 100px;
}
.reviews-bg-1{
    /*background: #a22525;*/
    background: #981616;
    padding-top: 80px;
    padding-bottom: 30px;
}
.menu-col{
    border-bottom: 5px black solid;
    margin-bottom: 50px;
    padding-bottom: 50px
}
.menu-cates{
    font-size: 0.9em;
    background: #981616;
    color: white;
    cursor: pointer;
}
.menu-cates:hover{
    background: #ce7070;
}
.menu-cates.active{
    background: #ce7070;
}
/*@media (max-width: 1024px) {
    .menu-cates{
        letter-spacing: 0px;
        font-size: 12px;
    }
    .nav-links{
        letter-spacing: 0px;
        font-size: 12px;
    }
}
@media (max-width: 950px) {
    .menu-cates{
        letter-spacing: 0px;
        font-size: 9px;
    }
    .nav-links{
        letter-spacing: 0px;
        font-size: 11px;
    }
}
@media (max-width: 800px) {
    .menu-cates{
        letter-spacing: 0px;
        font-size: 8px;
    }
    .nav-links{
        letter-spacing: 0px;
        font-size: 10px;
    }
}
@media (max-width: 766px) {
    .menu-cates{
        letter-spacing: 0px;
        font-size: 12px;
    }
    .nav-links{
        letter-spacing: 0px;
        font-size: 12px;
    }
}*/
.small-menu-nav{
    visibility: hidden;
}
.big-menu-nav{
    visibility: visible;
}
@media (max-width: 1200px){
    .small-menu-nav{
        visibility: visible;
    }
    .big-menu-nav{
        visibility: hidden;
    }
}
.menu-nav-btn:hover{
    background: #ce7070;
}
.menuItemGroup {
    position: relative;
    top: 10px;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0;
    border-bottom: 5px solid;
    padding-bottom: 10px;
}
.menuGroupAlignment {
    display: inline-block;
    width: 100%;
}
.menuItem {
    /*padding: 30px 20px;*/
    padding: 30px 10px;
    width: 100%;
    /*max-width: 380px;*/
    font-family: "Open Sans", "Arial";
    letter-spacing: 1px;
}

.menuItem:hover {
    /*cursor: default;*/
}

.menuItemTop {
    margin-bottom: 5px;
    font-size: 16px;
}
.menuItemBottom {
    color: black;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    min-height: 40px;
}
.about-page-text{
    color: #000000;
    font-size: 1.3em;
    text-align: left;
}
/*@media (max-width: 768px){
    .menuItemTop{
        font-size: 12px;
    }
    .menuItemBottom{
        font-size: 10px;
    }
}*/
.menuLeft {
    /*margin-right: 50px;*/
    float: right;
}

.menuRight {
    float: left;
}
.menuItemName {
    color: #c50a0a;
    font-weight: bold;
    float: left;
}
.menuItemPrice {
    color: #3e3e3e;
    font-weight: bold;
    float: right;
}
.order-menuItem-box{
    cursor: pointer; !important;
    border: 1px #888888 solid;
    border-radius: 15px;
    margin: 10px 0;
    transition: all 0.5s;
}
.order-menuItem-box:hover{
    border: 1px #888888 solid;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}
.add-item-extra-button:hover{
    background: white;
    border: 1px solid #9c9c9c;
    color: black;

}
.add-item-extra-button{
    border-radius: 10px;
    background: #c50a0a;
    border: 1px solid ;
    color: white;
    outline: none
}
.shopping-cart-col{
    margin-bottom: 50px;
    padding-bottom: 50px;
    height: 90vh;
    right: 0;
}
.cartItem{
    /*padding: 30px 20px;*/
    width: 100%;
    /*max-width: 380px;*/
    font-family: "Open Sans", "Arial";
    letter-spacing: 1px;
}
.cartItemDesc{
    color: #787878;
}
.cartItemBottom{
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
    min-height: 40px;
    padding-left: 20px;
}
.shopping-cart-a{
    cursor: pointer;
    color: black;
    font-weight: 300;
    font-size: 20px;
    user-select: none;
}
.shopping-cart-a:hover{
    color: #c50a0a;
}
@media (min-width: 1030px) {
    .shopping-cart-shopping-cart{
        visibility: hidden;
    }
}
.shopping-cart-shopping-cart{

}
.affix-bottom {
    position: absolute;
}
.badge-notify{
    background:red;
    position:relative;
    top: 30px;
    left: -50%;
    letter-spacing: 1px;
}
.label-button{
    background: #c50a0a;
    color: white;
    border: 1px solid white;
}
.label-button:hover{
    background: #ef0a0a;
    color: white;
    border: 1px solid white;
}
.label-button.active{
    background: white;
    color: #c50a0a;
    border: 1px solid #c50a0a;
    box-shadow: inset 2px 2px 5px #888888;
}
.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button-affirmative{
    background: #c50a0a;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 3px 0 0 #8c0a0a;
}
.button-affirmative:hover{
    color: white;
}
.button-affirmative.active, .button-affirmative:active{
    background: #c50a0a;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.button-affirmative:focus{
    color:white;
    outline: none;
}
.button-negative{
    background: white;
    color: black;
    border: 1px solid #5d5d5d;
    outline: none;
    box-shadow: 0 2px 0 0 #5d5d5d;
}
.button-negative:hover{
   color: black;
}
.button-negative.active, .button-negative:active{
    background: #5d5d5d;
    box-shadow: none;
    margin-bottom: -2px;
    margin-top: 2px;
}
.button-negative:focus{
    color:black;
    outline: none;
}

.menu-dropdown-button {
    background: rgb(216,39,45);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image:      -o-linear-gradient(top,rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    background-image:         linear-gradient(to bottom, rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(216,39,45)), to(rgb(126,22,24)));
    border-color: #7d0a0a;
    color: white;
    outline: none;
}

.menu-dropdown-button.focus, .menu-dropdown-button:focus {
    color: #fff;
    background-color: #c50a0a;
    border-color: #7d0a0a;
    outline: none;
}

.menu-dropdown-button:hover {
    color: #fff;
    background-color: #ce7070;
    border-color: #990a0a;
    outline: none;
}

.menu-dropdown-button.active, .menu-dropdown-button:active, .open > .dropdown-toggle.menu-dropdown-button {
    color: #fff;
    background-color: #900a0a;
    border-color: #7d0a0a;
    outline: none;
}

.menu-dropdown-button.active.focus, .menu-dropdown-button.active:focus, .menu-dropdown-button.active:hover, .menu-dropdown-button:active.focus, .menu-dropdown-button:active:focus, .menu-dropdown-button:active:hover, .open > .dropdown-toggle.menu-dropdown-button.focus, .open > .dropdown-toggle.menu-dropdown-button:focus, .open > .dropdown-toggle.menu-dropdown-button:hover {
    color: #fff;
    background-color: #900a0a;
    border-color: #7d0a0a;
    outline: none;
}

.menu-dropdown-button.active, .menu-dropdown-button:active, .open > .dropdown-toggle.menu-dropdown-button {
    background-image: none;
    outline: none;
}

/*.menu-dropdown-button{
    background: #c50a0a;
    color: white;
    height: 5vh;
    font-size: 16px;
}
.menu-dropdown-button:hover{
    background: #c50a0a;
    color: white;
    !*background: #ce7070;
    color: white;*!
}
.menu-dropdown-button:focus{
    background: #c50a0a;
    color: white;
}*/
.menu-dropdown{
    background: white;
    color: #c50a0a;
}
.menu-dropdown li{
    cursor: pointer;
}
.menu-dropdown li:hover{
    color: black;
}

.index-affix-btn {
    background: rgb(216,39,45);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image:      -o-linear-gradient(top,rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    background-image:         linear-gradient(to bottom, rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(216,39,45)), to(rgb(126,22,24)));
    border-color: #7d0a0a;
    color: white;
    outline: none;
}

.index-affix-btn.focus, .index-affix-btn:focus {
    color: #fff;
    background-color: #c50a0a;
    border-color: #7d0a0a;
    outline: none;
}

.index-affix-btn:hover {
    color: #fff;
    background-color: #ce7070;
    border-color: #990a0a;
    outline: none;
}

.index-affix-btn.active, .index-affix-btn:active {
    color: #fff;
    background-color: #900a0a;
    border-color: #7d0a0a;
    outline: none;
}

.index-affix-btn.active.focus, .index-affix-btn.active:focus, .index-affix-btn.active:hover, .index-affix-btn:active.focus, .index-affix-btn:active:focus, .index-affix-btn:active:hover {
    color: #fff;
    background-color: #900a0a;
    border-color: #7d0a0a;
    outline: none;
}

.index-affix-btn.active, .index-affix-btn:active {
    background-image: none;
    outline: none;
}
/*.index-affix-btn{
    background: #c50a0a;
    color: white;
}
.index-affix-btn:hover{
    background: #ce7070;
    color: white;
}
.index-affix-btn:active{
    background: #ce7070;
    color: white;
    outline: none;
}
.index-affix-btn:focus{
    background: #c50a0a;
    color: white;
    outline: none;
}*/

.btn-menu-cat {
    background: rgb(216,39,45);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image:      -o-linear-gradient(top,rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    background-image:         linear-gradient(to bottom, rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, rgb(216,39,45) 0%, rgb(126,22,24) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(216,39,45)), to(rgb(126,22,24)));
    border-color: #7d0a0a;
    color: white;
    outline: none;
}

.btn-menu-cat.focus, .btn-menu-cat:focus {
    color: #fff;
    background-color: #c50a0a;
    border-color: #7d0a0a;
    outline: none;
}

.btn-menu-cat:hover {
    box-shadow: inset 5px 5px 5px rgb(126,22,24);
    color: white;
    outline: none;
}

.btn-menu-cat.active, .btn-menu-cat:active, .open > .dropdown-toggle.btn-menu-cat {
    color: #fff;
    background-color: #900a0a;
    border-color: #7d0a0a;
    outline: none;
}

.btn-menu-cat.active.focus, .btn-menu-cat.active:focus, .btn-menu-cat.active:hover, .btn-menu-cat:active.focus, .btn-menu-cat:active:focus, .btn-menu-cat:active:hover, .open > .dropdown-toggle.btn-menu-cat.focus, .open > .dropdown-toggle.btn-menu-cat:focus, .open > .dropdown-toggle.btn-menu-cat:hover {
    color: #fff;
    background-color: #900a0a;
    border-color: #7d0a0a;
    outline: none;
}
.btn-menu-cat.active, .btn-menu-cat:active, .open > .dropdown-toggle.btn-menu-cat {
    background-image: none;
    outline: none;
}
.css-form input.ng-invalid.ng-touched {
    border: 2px solid #c10a0a;
}
.css-form input.ng-valid.ng-touched {
    border: 2px solid #0b7d17;
}
.css-form p {
    color: #c10a0a;
}
.fixed-cart{
    position: fixed;
}
.bottom-cart {
    position: absolute;
    bottom: 0;
    top: auto;
}
.tooltip.custom-tooltip{
    opacity: 1.0;
}
.tooltip.custom-tooltip .tooltip-inner {
    color: #FFFFFF;
    background-color: #7d0a0a;
}
.tooltip.custom-tooltip .tooltip-arrow{
    border-bottom-color: #7d0a0a;
}
