<div class="modal-header">
    <div class="col-xs-8">
        <h4>{{item.translated_name}}</h4>
    </div>
    <div class="col-xs-2 col-xs-offset-2 text-right">
        <h3><a href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
    </div>
</div>
<div class="modal-body unselectable">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8" ng-init="isCollapsed = false">
                <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="isCollapsed"><span>&blacktriangledown;</span><small>Show Description</small></a>
                <a href="" ng-click="isCollapsed = !isCollapsed" ng-hide="isCollapsed"><span>&blacktriangle;</span><small>Hide Description</small></a>
            </div>
            <div class="col-xs-4 text-right">
                <p>Price: ${{item.price}}</p>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div uib-collapse="isCollapsed">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <hr>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3">Quantity:</label>
                <div class="col-sm-3 col-sm-offset-5 col-xs-5 col-xs-offset-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="minus()">-</button>
                        </span>
                        <input class="form-control text-center center-block" id="quantity" value="1" readonly="readonly">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="add()">+</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="hasModifiers">
                <label class="control-label col-xs-3">Choose One:</label>
                <div class="col-xs-7 col-xs-offset-1">
                    <select class="form-control" id="modifiers">
                        <option ng-repeat="obj in menuModifiers">{{obj.string}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-repeat="i in getNumberOfExtras(numberOfProteinExtras) track by $index">
                <label class="control-label col-xs-3">Extra Protein:</label>
                <div class="col-xs-7 col-sm-offset-1">
                    <select class="form-control" id="proteinExtras-{{$index}}" required>
                        <option style="display: none">Choose an Extra Protein</option>
                        <option ng-repeat="obj in proteinExtras">{{obj.string}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-1 col-xs-2"><a ng-click="removeExtra('Protein')" class="shopping-cart-a">&times</a></label>
            </div>
            <div class="form-group" ng-repeat="i in getNumberOfExtras(numberOfSideExtras) track by $index">
                <label class="control-label col-xs-3">Extra Side:</label>
                <div class="col-xs-7 col-sm-offset-1">
                    <select class="form-control" id="sideExtras-{{$index}}" required>
                        <option style="display: none">Choose an Extra Side</option>
                        <option ng-repeat="obj in sideExtras">{{obj.string}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-1 col-xs-2"><a ng-click="removeExtra('Side')" class="shopping-cart-a">&times</a></label>
            </div>
            <div class="form-group" ng-repeat="i in getNumberOfExtras(numberOfVeggieExtras) track by $index">
                <label class="control-label col-xs-3">Extra Veggie:</label>
                <div class="col-xs-7 col-sm-offset-1">
                    <select class="form-control" id="veggieExtras-{{$index}}" required>
                        <option style="display: none">Choose an Extra Veggie</option>
                        <option ng-repeat="obj in veggieExtras">{{obj.string}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-1 col-xs-2"><a ng-click="removeExtra('Veggie')" class="shopping-cart-a">&times</a></label>
            </div>
            <div class="form-group" ng-if="hasExtras">
                <div class="col-xs-4 text-center">
                   <button ng-click="addExtra('Protein')" class="btn btn-small button-affirmative">+ Protein</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button ng-click="addExtra('Side')" class="btn btn-small button-affirmative">+ Side</button>
                </div>
                <div class="col-xs-4 text-center">
                    <button ng-click="addExtra('Veggie')" class="btn btn-small button-affirmative">+ Veggie</button>
                </div>
            </div>
            <div class="form-group" ng-if="hasSpice">
                <label class="control-label col-xs-3">How Spicy:</label>
                <div class="col-xs-7 col-xs-offset-1">
                    <!--<div class="btn-group" uib-dropdown style="width: 100%">
                        <button type="button" class="btn btn-default btn-block" uib-dropdown-toggle>{{spiceLevelText}}  <span class="caret"></span></button>
                        <ul uib-dropdown-menu>
                            <li ng-click="setSpice(0)"><a href="">0</a></li>
                            <li ng-click="setSpice(1)"><a href="">1</a></li>
                            <li ng-click="setSpice(2)"><a href="">2</a></li>
                            <li ng-click="setSpice(3)"><a href="">3</a></li>
                            <li ng-click="setSpice(4)"><a href="">4</a></li>
                            <li ng-click="setSpice(5)"><a href="">5</a></li>
                            <li ng-click="setSpice(6)"><a href="">6</a></li>
                            <li ng-click="setSpice(7)"><a href="">7</a></li>
                            <li ng-click="setSpice(8)"><a href="">8</a></li>
                            <li ng-click="setSpice(9)"><a href="">9</a></li>
                            <li ng-click="setSpice(10)"><a href="">10</a></li>
                        </ul>
                    </div>-->
                    <select class="form-control" ng-model="spicy" ng-change="setSpice(spicy)">
                        <option style="display: none" value="">Choose a Spiciness Level</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="hasRice">
                <label class="control-label col-xs-3">Rice:</label>
                <!--<div class="col-xs-8">
                    <div class="btn-group-sm text-right">
                        <label class="btn label-button" ng-model="riceType" uib-btn-radio="'White'" ng-click="setRiceType('White')">White</label>
                        <label class="btn label-button" ng-model="riceType" uib-btn-radio="'Brown'" ng-click="setRiceType('Brown')">Brown</label>
                        <label class="btn label-button" ng-model="riceType" uib-btn-radio="'Fried'" ng-click="setRiceType('Fried')">Fried (+$2.00)</label>
                    </div>
                </div>-->
                <div class="col-xs-7 col-xs-offset-1">
                    <select class="form-control" ng-model="rice" ng-change="setRiceType(rice)">
                        <option style="display: none" value="">Choose a Rice Type</option>
                        <option value="White">White</option>
                        <option value="Brown">Brown</option>
                        <option value="Fried">Fried (+$2)</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="hasBoba">
                <label class="control-label col-xs-3">Add Boba:</label>
                <div class="col-xs-8 text-right">
                    <div class="btn-group">
                        <label class="btn label-button" ng-model="bobaPrice" uib-btn-radio="0" ng-click="setBobaPrice(0)">No Boba</label>
                        <label class="btn label-button" ng-model="bobaPrice" uib-btn-radio="1" ng-click="setBobaPrice(1)">Add Boba (+$1.00)</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Special Instructions:</label>
                <div class="col-xs-7 col-xs-offset-1">
                    <textarea class="form-control" id="specIns" ng-model="specIns" rows="3" style="resize: none"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="col-xs-4">
            <button type="button" class="btn button-negative pull-left" ng-click="close()"><span>&times;</span> Close</button>
        </div>
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn button-affirmative pull-right" ng-click="submit()"><span>+</span> Add</button>
        </div>
    </div>
</div>