<div class="modal-dialog modal-sm">
    <div class="modal-body">
        <p class="text-center">{{message}}</p><br>
        <button type="button" class="btn button-affirmative btn-sm center-block" ng-click="ok()">Ok</button>
    </div>
</div>