<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">LOGIN</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <form name="from" class="form-horizontal css-form" ng-submit="submit(login)">
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-user"></span> Email:</label>
                        <input required type="email" ng-model="login.email"  name="email" id="email" class="form-control" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}">
                    </div>
                    <div ng-show="form.$submitted || form.email.$touched">
                        <p ng-show="!form.email.$valid">This is not a valid email.</p>
                    </div>
                    <div class="form-group">
                        <label for="pw"><span class="glyphicon glyphicon-lock"></span> Password:</label>
                        <input required type="password" ng-model="login.pw" name="pw" id="pw" class="form-control">
                    </div>
                    <div ng-show="form.$submitted || form.pw.$touched">
                        <p ng-show="!form.pw.$valid">Password was left blank.</p>
                    </div>
                    <div class="form-group small-top-buffer">
                        <div class="col-xs-6 text-center" style="margin: 10px 0">
                            <button type="submit" class="btn btn-lg button-affirmative">Login
                            </button>
                        </div>
                        <div class="col-xs-6 text-center" style="margin: 10px 0">
                            <button type="button" ng-click="close()" class="btn btn-lg button-negative">Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6 text-center">
                <p>Don't have an account? <span><a style="color: #c50a0a" href="" ng-click="goToSignUp()">Sign Up</a></span></p>
            </div>
            <!--<div class="col-sm-6 text-center">
                <p>Forgot your password? <span><a href="" ng-click="forgotPassword()">Click Here</a></span></p>
            </div>-->
            <div class="col-sm-6 text-center">
                <p>Want to order as a Guest? <span><a style="color: #c50a0a" href="" ng-click="goToGuest()">Click Here</a></span></p>
            </div>
        </div>
    </div>
</div>

