<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">Order Online</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4>You are currently not logged in.<br><br>Would you like to order as a guest?</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6 text-center" style="margin: 20px 0">
                <button type="button" data-ng-click="switchToLogin()" class="btn btn-lg button-affirmative">No, Go To Login</button>
            </div>
            <div class="col-sm-6 text-center" style="margin: 20px 0">
                <button type="button" data-ng-click="continueAsGuest()" class="btn btn-lg button-negative">Yes, Order As Guest</button>
            </div>
        </div>
    </div>
</div>