<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">Payment</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row text-center">
            <h4>Your total is: <b>${{order.totalCost.toFixed(2)}}</b></h4>
        </div>
        <hr class="skinny">
        <div class="row">
            <div class="col-xs-12" ng-if="!creditOnly">
                <label><span class="glyphicon glyphicon-credit-card"></span> Payment Type</label>
                <div class="form-group text-center">
                    <div class="btn-group">
                        <label class="btn btn-lg label-button" ng-model="payment" uib-btn-radio="'Credit'"
                               ng-click="paymentTypeChanged('Credit')">Credit</label>
                        <label class="btn btn-lg label-button" ng-model="payment" uib-btn-radio="'Cash'"
                               ng-click="paymentTypeChanged('Cash')">Cash</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center" ng-if="creditOnly">
                <h5>All orders over $150 default to credit card payment only</h5>
            </div>
        </div>
        <hr class="skinny">
        <div class="row">
            <div class="col-xs-12" ng-if="payment != null">
                <div class="container-fluid"  ng-if="payment === 'Credit'">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <a href="../../resources/refund_delivery_policy.html" target="_blank" style="color: black">Refund & Delivery Policy</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="" style="color: black">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3vh">
                        <div class="col-sm-1 col-sm-offset-3 col-xs-2">
                            <img class="img-responsive" src="../../images/credit%20cards/visa.png" style="max-height: 50px"/>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <img class="img-responsive" src="../../images/credit%20cards/mc.png" style="max-height: 50px"/>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <img class="img-responsive" src="../../images/credit%20cards/american.png" style="max-height: 50px"/>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <img class="img-responsive" src="../../images/credit%20cards/discover.png" style="max-height: 50px"/>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <img class="img-responsive" src="../../images/credit%20cards/diners.png" style="max-height: 50px"/>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <img class="img-responsive" src="../../images/credit%20cards/jcb.png" style="max-height: 50px"/>
                        </div>
                    </div>
                    <hr class="skinny">
                    <form class="form-horizontal" ng-submit="submit()">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="ccNumber">Credit Card
                                    Number</label>
                                <input type="text" inputmode="numeric" ng-model="card.number" class="form-control" id="ccNumber"
                                       placeholder="Enter Card Number"
                                       pattern="^[0-9]{14,16}$"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <label>Exp. Month</label>
                                <select class="form-control" ng-model="card.expMonth" ng-change="monthSelected(expMonth)"
                                        data-ng-options="month as month for month in possibleMonth" required>
                                    <option style="display: none" value="">MM</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label>Exp. Year</label>
                                <select class="form-control" ng-model="card.expYear" ng-change="yearSelected(expYear)"
                                        data-ng-options="year as year for year in possibleYear" required>
                                    <option style="display: none" value="">YY</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label>CCV</label>
                                <input type="password" ng-model="card.ccv" class="form-control" id="ccCCV"
                                       placeholder="Enter CCV"
                                       pattern="^[0-9]{3,4}$"
                                       required>
                            </div>
                        </div>
                        <hr class="skinny">
                        <div class="form-group small-top-buffer">
                            <div class="row">
                                <div class="col-sm-6" style="padding-top: 10px">
                                    <button type="submit" class="btn btn-block button-affirmative">Preview</button>
                                </div>
                                <div class="col-sm-6" style="padding-top: 10px">
                                    <button type="button" data-ng-click="close()" class="btn btn-block button-negative">Cancel
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-xs-12 text-center">
                                    <button type="button" data-ng-click="testSubmit()" class="btn btn-default">Use Sandbox card</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="container-fluid" ng-if="payment === 'Cash'">
                    <div class="row text-center">
                        <p>I will be paying with cash at time of pickup or delivery</p>
                    </div>
                    <hr class="skinny">
                    <div class="row">
                        <div class="col-sm-6" style="padding-top: 10px">
                            <button type="button" ng-click="submit()" class="btn btn-block button-affirmative">Preview</button>
                        </div>
                        <div class="col-sm-6" style="padding-top: 10px">
                            <button type="button" ng-click="close()" class="btn btn-block button-negative">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</div>