<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">Start an Order?</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>{{message}}</h4>
                <hr class="light">
                <h4>Would you like to start an order at this time?</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-6 text-center">
                <button type="button" data-ng-click="startOrder()" class="btn btn-lg button-affirmative">Yes</button>
            </div>
            <div class="col-xs-6 text-center">
                <button type="button" data-ng-click="close()" class="btn btn-lg button-negative">Not Yet</button>
            </div>
        </div>
    </div>
</div>