<div class="modal-header">
    <div class="col-xs-8 col-xs-offset-2 text-center">
        <h2 class="text-center">Order Preview & Pay</h2>
    </div>
    <div class="col-xs-2">
        <h3><a class="pull-right" href="" ng-click="cancel()" style="color: #c50a0a">&times;</a></h3>
    </div>
</div>
<div class="modal-body unselectable">
    <div class="row" data-ng-repeat="item in order.order" style="padding-bottom: 20px">
        <div class='cartItem'>
            <div class='menuItemTop'>
                <div class="col-sm-10">
                    <div class='menuItemName'>{{item.item.translated_name}}<span class="cartItemDesc"> <small>(${{item.item.price.toFixed(2)}})</small></span>
                    </div>
                </div>
            </div>
            <div class='cartItemBottom'>
                <div class="col-xs-12" ng-if="item.hasModifiers">
                    <div class="cartItemDesc" ng-if="item.modifier.price > 0.0">Choice:
                        {{item.modifier.translated_name + ' (+$' + item.modifier.price + ')'}}
                    </div>
                    <div class="cartItemDesc" ng-if="item.modifier.price == 0.0">Choice:
                        {{item.modifier.translated_name}}
                    </div>
                </div>
                <div class="col-xs-12" ng-if="item.hasExtras">
                    <div class="cartItemDesc" ng-if="item.extras.length > 0">Added: <span
                            ng-repeat="obj in item.extras" style="font-size: 10px">|{{obj.name}} (+${{obj.price.toFixed(2)}})|  </span>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="item.hasSpice">
                    <div class="cartItemDesc">Spicy Level: {{item.spice}}</div>
                </div>
                <div class="col-xs-12" ng-if="item.hasRice">
                    <div class="cartItemDesc" ng-if="item.riceType !== 'Fried'">Rice: {{item.riceType}}
                    </div>
                    <div class="cartItemDesc" ng-if="item.riceType === 'Fried'">Rice: {{item.riceType}}
                        (+$2.00)
                    </div>
                </div>
                <div class="col-xs-12" ng-if="item.hasBoba">
                    <div class="cartItemDesc" ng-if="item.bobaPrice === 1">Boba Added (+$1.00)</div>
                </div>
                <div class="col-xs-12">
                    <div class="cartItemDesc">[{{item.specIns}}]</div>
                </div>
            </div>
            <div class="col-xs-6" style="padding-top: 10px">
                <div style="font-size: 20px">Qty. {{item.quantity}}</div>
            </div>
            <div class="col-xs-6 text-right" style="padding-top: 10px">
                <div class='menuItemPrice'>{{(item.indivPrice * item.quantity).toFixed(2)}}
                </div>
            </div>
        </div>
    </div>
    <hr class="skinny">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center" style="color: #3e3e3e; font-weight: bold;">{{customerInfo.name}}</div>
        <div class="col-xs-2 text-right"><button class="btn btn-xs button-affirmative" ng-click="editCustomerInfo()"><span class="glyphicon glyphicon-edit"></span></button></div>
        <div class="col-xs-12 text-center cartItemDesc">{{customerInfo.email}}</div>
        <div class="col-xs-12 text-center cartItemDesc">{{customerInfo.phone}}</div>

    </div>
    <hr class="skinny">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center" style="color: #3e3e3e; font-weight: bold;">{{orderInfo.type}}</div>
        <div class="col-xs-2 text-right"><button class="btn btn-xs button-affirmative" ng-click="editOrderInfo()"><span class="glyphicon glyphicon-edit"></span></button></div>
        <div class="col-xs-12 text-center cartItemDesc">{{orderInfo.date.string}} - {{orderInfo.time.string}}</div>
        <div class="col-xs-12 text-center cartItemDesc" ng-if="isDelivery">{{address}} {{apt}}</div>
    </div>
    <hr class="skinny">
    <div class="row" ng-if="paymentInfo === 'Cash'">
        <div class="col-xs-8 col-xs-offset-2 text-center" style="color: #3e3e3e; font-weight: bold;">Cash</div>
        <div class="col-xs-2 text-right"><button class="btn btn-xs button-affirmative" ng-click="editPaymentInfo()"><span class="glyphicon glyphicon-edit"></span></button></div>
    </div>
    <div class="row" ng-if="paymentInfo !== 'Cash'">
        <div class="col-xs-8 col-xs-offset-2 text-center" style="color: #3e3e3e; font-weight: bold;">Credit</div>
        <div class="col-xs-2 text-right"><button class="btn btn-xs button-affirmative" ng-click="editPaymentInfo()"><span class="glyphicon glyphicon-edit"></span></button></div>
        <div class="col-xs-12 text-center cartItemDesc">{{card}}</div>
        <div class="col-xs-12 text-center cartItemDesc">Exp. Date: {{paymentInfo.expMonth}}/{{paymentInfo.expYear}}</div>
    </div>
    <hr class="skinny">
    <div class="row">
        <div class="col-xs-12 text-right cartItemDesc">Sub-Total: ${{order.cost.toFixed(2)}}</div>
        <div class="col-xs-12 text-right cartItemDesc">Tax: ${{order.tax.toFixed(2)}}</div>
        <div class="col-xs-12 text-right cartItemDesc" ng-if="order.deliFee > 0">Delivery Fee: ${{order.deliFee.toFixed(2)}}</div>
        <div class="col-xs-12 text-right menuItemPrice">Total: ${{order.totalCost.toFixed(2)}}</div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-sm-6" style="padding-top: 10px">
        <button type="button" ng-click="confirm()" class="btn btn-block button-affirmative">Confirm & Order</button>
    </div>
    <div class="col-sm-6" style="padding-top: 10px">
        <button type="button" ng-click="cancel()" class="btn btn-block button-negative">Not Yet</button>
    </div>
</div>
