<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">Order Setup</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <label><span class="glyphicon glyphicon-cutlery"></span> Order Type</label>
                <div class="form-group text-center" ng-if="deliAvail">
                    <div class="btn-group">
                        <label class="btn label-button" ng-model="type" uib-btn-radio="'Delivery'"
                               data-ng-click="orderTypeChanged('Delivery')">Delivery</label>
                        <label class="btn label-button" ng-model="type" uib-btn-radio="'Takeout'"
                               data-ng-click="orderTypeChanged('Takeout')">Takeout</label>
                    </div>
                </div>
                <div class="form-group text-center" ng-if="!deliAvail">
                    <div class="col-xs-8 col-xs-offset-2 text-center">
                        <h3><b>Takeout</b></h3>
                        <small>Order type was set to <b>Takeout</b> because the address provided was out of range.  To change your address go to the <a href="" ng-click="goToUserPage()">Profile Page</a></small>
                    </div>
                </div>
            </div>
        </div>
        <hr class="skinny">
        <div class="row">
            <div class="col-xs-12" ng-if="type != null">
                <div class="form-group">
                    <label ng-show="type=='Delivery'"><span class="glyphicon glyphicon-calendar"></span> Date of
                        Delivery</label>
                    <label ng-show="type=='Takeout'"><span class="glyphicon glyphicon-calendar"></span> Date of
                        Pickup</label>
                    <select class="form-control" id="datePicker" ng-model="selectedDate" ng-change="dateSelected(selectedDate)"
                            data-ng-options="date as date.string for date in possibleDate">
                        <option style="display: none" value="">{{dateLabel}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="skinny">
        <div class="row">
            <div class="col-xs-12" ng-if="selectedDate != null">
                <div class="form-group">
                    <label ng-show="type=='Delivery'"><span class="glyphicon glyphicon-calendar"></span> Time of
                        Delivery</label>
                    <label ng-show="type=='Takeout'"><span class="glyphicon glyphicon-calendar"></span> Time of
                        Pickup</label>
                    <select class="form-control" id="timePicker" ng-model="selectedTime" ng-change="timeSelected(selectedTime)"
                            data-ng-options="time as time.string for time in possibleTime">
                        <option style="display: none" value="">{{timeLabel}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" ng-if="selectedTime != null">
            <div class="col-xs-6 text-center">
                <button type="button" data-ng-click="continue()" class="btn btn-lg button-affirmative">Continue</button>
            </div>
            <div class="col-xs-6 text-center">
                <button type="button" data-ng-click="close()" class="btn btn-lg button-negative">Close</button>
            </div>
        </div>
    </div>
</div>