<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">SHOPPING CART</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid" id="shoppingCartWindow">
            <div class="text-center" ng-if="!hasOrder">Your shopping cart is empty!</div>
            <div class="row" data-ng-repeat="item in order" style="padding-bottom: 20px" ng-if="hasOrder">
                <div class='cartItem'>
                    <div class='menuItemTop'>
                        <div class="col-sm-10">
                            <div class='menuItemName'>{{item.item.translated_name}}<span class="cartItemDesc"> <small>(${{item.item.price.toFixed(2)}})</small></span>
                            </div>
                        </div>
                        <div class="col-sm-2 text-right">
                            <div><a ng-click="remove($index)" class="shopping-cart-a">&times</a></div>
                        </div>
                    </div>
                    <div class='cartItemBottom'>
                        <div class="col-xs-12" ng-if="item.hasModifiers">
                            <div class="cartItemDesc" ng-if="item.modifier.price > 0.0">Choice:
                                {{item.modifier.translated_name + ' (+$' + item.modifier.price + ')'}}
                            </div>
                            <div class="cartItemDesc" ng-if="item.modifier.price == 0.0">Choice:
                                {{item.modifier.translated_name}}
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="item.hasExtras">
                            <div class="cartItemDesc" ng-if="item.extras.length > 0">Added: <span
                                    ng-repeat="obj in item.extras" style="font-size: 10px">|{{obj.name}} (+${{obj.price.toFixed(2)}})|  </span>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="item.hasSpice">
                            <div class="cartItemDesc">Spicy Level: {{item.spice}}</div>
                        </div>
                        <div class="col-xs-12" ng-if="item.hasRice">
                            <div class="cartItemDesc" ng-if="item.riceType !== 'Fried'">Rice: {{item.riceType}}
                            </div>
                            <div class="cartItemDesc" ng-if="item.riceType === 'Fried'">Rice: {{item.riceType}}
                                (+$2.00)
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="item.hasBoba">
                            <div class="cartItemDesc" ng-if="item.bobaPrice === 1">Boba Added (+$1.00)</div>
                        </div>
                        <div class="col-xs-12">
                            <div class="cartItemDesc">[{{item.specIns}}]</div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding-top: 10px">
                        <div style="font-size: 20px"><a ng-click="decreaseQty($index)" class="shopping-cart-a">-</a>
                            {{item.quantity}} <a
                                    ng-click="increaseQty($index)" class="shopping-cart-a">+</a></div>
                    </div>
                    <div class="col-xs-6 text-right" style="padding-top: 10px">
                        <div class='menuItemPrice'>{{(item.indivPrice * item.quantity).toFixed(2)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" style="margin-top: 20px" ng-if="hasOrder">
            <div class="col-xs-12 cartItemDesc" style="font-size: 10px">Sub-Total: ${{cost.toFixed(2)}}</div>
            <div class="col-xs-12 cartItemDesc" style="font-size: 10px">Tax: ${{tax.toFixed(2)}}</div>
            <div class="col-xs-12 cartItemDesc" style="font-size: 10px" ng-if="deliFee > 0">Delivery Fee:
                ${{deliFee.toFixed(2)}}
            </div>
            <div class="col-xs-12 menuItemPrice">Total: ${{totalCost.toFixed(2)}}</div>
            <div class="col-xs-6" style="margin-top: 10px">
                <button class="btn btn-block button-affirmative" ng-click="orderPay()">DONE</button>
            </div>
            <div class="col-xs-6" style="margin-top: 10px">
                <button class="btn btn-block button-negative" ng-click="close()">CLOSE</button>
            </div>
            <div class="col-xs-4 text-left" style="padding-top: 20px;">
                <a href="" ng-click="cancel()" style=" color: #c50a0a">Cancel Order</a>
            </div>
            <div class="col-xs-4 text-center" style="padding-top: 20px;">
                <a href="" ng-click="menu()" style=" color: #c50a0a">Go To Menu</a>
            </div>
            <div class="col-xs-4 text-right" style="padding-top: 20px;">
                <a href="" ng-click="clear()" style=" color: #c50a0a">Clear Order</a>
            </div>
        </div>
        <div class="row" ng-if="!hasOrder">
            <div class="col-xs-6 text-center" style="padding-top: 20px;">
                <a href="" ng-click="cancel()" style=" color: #c50a0a">Cancel Order</a>
            </div>
            <div class="col-xs-6 text-center" style="padding-top: 20px;">
                <a href="" ng-click="menu()" style=" color: #c50a0a">Go To Menu</a>
            </div>
        </div>
    </div>
</div>

