<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">SIGN UP</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <form name="form" class="form-horizontal css-form" ng-submit="submit(signup)">
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-user"></span> Email:</label>
                        <input required type="email" ng-model="signup.email"  name="email" id="email" class="form-control" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}"  uib-tooltip="Please use a valid email.  Your receipt will be sent to this address." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                    </div>
                    <div ng-show="form.$submitted || form.email.$touched">
                        <p ng-show="!form.email.$valid">This is not a valid email.</p>
                    </div>
                    <div class="form-group">
                        <label for="pw"><span class="glyphicon glyphicon-lock"></span> Password:</label>
                        <input required type="password" ng-model="signup.pw" name="pw" id="pw" class="form-control" pattern="[^\s]{6,}" uib-tooltip="Password must be at least 6 characters long and must not contain any spaces." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                    </div>
                    <div ng-show="form.$submitted || form.pw.$touched">
                        <p ng-show="!form.pw.$valid">Password is too short or contains a space.</p>
                    </div>
                    <div class="form-group">
                        <label for="pwCon"><span class="glyphicon glyphicon-ok-sign"></span> Confirm Password:</label>
                        <input required type="password" ng-model="signup.pwCon" name="pwCon" id="pwCon" class="form-control" pw-check="pw">
                    </div>
                    <div ng-show="form.$submitted || form.pwCon.$touched">
                        <p ng-show="form.pwCon.$error.pwmatch">Passwords do not match.</p>
                    </div>
                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-tag"></span> Name:</label>
                        <input  required type="text" ng-model="signup.name"  name="name" id="name" class="form-control" pattern="^[a-zA-Z\.\'\-]{1,50}(?: [a-zA-Z\.\'\-]{1,50})+$" uib-tooltip="Please include your first and last name." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                    </div>
                    <div ng-show="form.$submitted || form.name.$touched">
                        <p ng-show="!form.name.$valid">Please include your first & last name.</p>
                    </div>
                    <div class="form-group">
                        <label for="phone"><span class="glyphicon glyphicon-phone-alt"></span> Phone Number:</label>
                        <input required type="tel" ng-model="signup.phone" name="phone" id="phone" class="form-control" phone-input uib-tooltip="This number will be called, by the restaurant, if there is a question about your order." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                    </div>
                    <div ng-show="form.$submitted || form.phone.$touched">
                        <p ng-show="!form.phone.$valid">Phone number is invalid.</p>
                    </div>
                    <div class="form-group">
                        <label for="address"><span class="glyphicon glyphicon-home"></span> Address:</label>
                        <input required type="text" ng-model="signup.address" name="address" id="address" class="form-control" uib-tooltip="Standard address format, i.e.'9403 East Street'" tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                    </div>
                    <div ng-show="form.$submitted || form.address.$touched">
                        <p ng-show="!form.address.$valid">Address was left blank.</p>
                    </div>
                    <div class="form-group">
                        <label for="apt"><span><strong>#</strong></span> Apt. or Suite Number (Optional):</label>
                        <input type="text" ng-model="signup.apt" name="apt" id="apt" class="form-control" ng-init="signup.apt = ''">
                    </div>
                    <div class="form-group">
                        <label for="zip"><span class="glyphicon glyphicon-globe"></span> Zip Code:</label>
                        <input  required type="number" ng-model="signup.zip"  name="zip" id="zip" class="form-control" pattern="^[0-9]{4,6}$"  uib-tooltip="Standard US zip code format, i.e. '20110'" tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                    </div>
                    <div ng-show="form.$submitted || form.zip.$touched">
                        <p ng-show="!form.zip.$valid">Zip code is invalid.</p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 text-center" style="margin: 10px 0">
                            <button type="submit" class="btn btn-lg button-affirmative"> Sign Up
                            </button>
                        </div>
                        <div class="col-xs-6 text-center" style="margin: 10px 0">
                            <button type="button" ng-click="close()" class="btn btn-lg button-negative"> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Already have an account? <span><a style="color: #c50a0a" href="" ng-click="goToLogin()">Login</a></span></p>
            </div>
        </div>
    </div>
</div>
