<div class="modal-content">
    <div class="modal-header">
        <div class="col-xs-8 col-xs-offset-2 text-center">
            <h3 class='text-center' style="font-weight: bold">PROFILE</h3>
        </div>
        <div class="col-xs-2">
            <h3><a class="pull-right" href="" ng-click="close()" style="color: #c50a0a">&times;</a></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid" ng-if="!editting">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 text-center" style="color: #3e3e3e; font-weight: bold;"><u>My Info</u></div>
                <div class="col-xs-2 text-right"><button class="btn btn-xs button-affirmative" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span></button></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">
                    <h5><strong>Email:</strong></h5>
                </div>
                <div class="col-xs 8 text-center">
                    <h5>{{customerInfo.email}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">
                    <h5><strong>Name:</strong></h5>
                </div>
                <div class="col-xs 8 text-center">
                    <h5>{{customerInfo.name}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">
                    <h5><strong>Phone:</strong></h5>
                </div>
                <div class="col-xs 8 text-center">
                    <h5>{{customerInfo.phone}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">
                    <h5><strong>Address:</strong></h5>
                </div>
                <div class="col-xs 8 text-center">
                    <h5>{{address}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">
                    <h5><strong>Apt #:</strong></h5>
                </div>
                <div class="col-xs 8 text-center">
                    <h5>{{apt}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">
                    <h5><strong>Zip Code:</strong></h5>
                </div>
                <div class="col-xs 8 text-center">
                    <h5>{{customerInfo.zip}}</h5>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="editting">
            <form name="form" class="form-horizontal css-form" ng-submit="save(user)">
                <div class="form-group">
                    <label for="email"><span class="glyphicon glyphicon-user"></span> Email:</label>
                    <input required type="email" ng-model="user.email" ng-init="user.email = customerInfo.email" name="email" id="email" class="form-control" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" uib-tooltip="Please use a valid email.  Your receipt will be sent to this address." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                </div>
                <div ng-show="form.$submitted || form.email.$touched">
                    <p ng-show="!form.email.$valid">This is not a valid email.</p>
                </div>
                <div class="form-group">
                    <label for="name"><span class="glyphicon glyphicon-tag"></span> Name:</label>
                    <input  required type="text" ng-model="user.name" ng-init="user.name = customerInfo.name" name="name" id="name" class="form-control" pattern="^[a-zA-Z\.\'\-]{1,50}(?: [a-zA-Z\.\'\-]{1,50})+$" uib-tooltip="Please include your first and last name." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                </div>
                <div ng-show="form.$submitted || form.name.$touched">
                    <p ng-show="!form.name.$valid">Please include your first & last name.</p>
                </div>
                <div class="form-group">
                    <label for="phone"><span class="glyphicon glyphicon-phone-alt"></span> Phone Number:</label>
                    <input required type="tel" ng-model="user.phone" ng-init="user.phone = customerInfo.phone" name="phone" id="phone" class="form-control" phone-input uib-tooltip="This number will be called, by the restaurant, if there is a question about your order." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                </div>
                <div ng-show="form.$submitted || form.phone.$touched">
                    <p ng-show="!form.phone.$valid">Phone number is invalid.</p>
                </div>
                <div class="form-group">
                    <label for="address"><span class="glyphicon glyphicon-home"></span> Address:</label>
                    <input required type="text" ng-model="user.address" ng-init="user.address = address" name="address" id="address" class="form-control" uib-tooltip="Standard address format, i.e.'9403 East Street'" tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                </div>
                <div ng-show="form.$submitted || form.address.$touched">
                    <p ng-show="!form.address.$valid">Address was left blank.</p>
                </div>
                <div class="form-group">
                    <label for="apt"><span><strong>#</strong></span> Apt. or Suite Number (Optional):</label>
                    <input type="text" ng-model="user.apt" ng-init="user.apt = aptInit()" name="apt" id="apt" class="form-control" ng-init="signup.apt = ''">
                </div>
                <div class="form-group">
                    <label for="zip"><span class="glyphicon glyphicon-globe"></span> Zip Code:</label>
                    <input  required type="number" ng-model="user.zip" ng-init="user.zip = customerInfo.zip"  name="zip" id="zip" class="form-control" pattern="^[0-9]{4,6}$" uib-tooltip="Standard US zip code format, i.e. '20110'" tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                </div>
                <div ng-show="form.$submitted || form.zip.$touched">
                    <p ng-show="!form.zip.$valid">Zip code is invalid.</p>
                </div>
                <div class="form-group small-top-buffer">
                    <div class="col-xs-6 text-center" style="margin: 10px 0">
                        <button type="submit" class="btn btn-sm button-affirmative"> Save
                        </button>
                    </div>
                    <div class="col-xs-6 text-center" style="margin: 10px 0">
                        <button type="button" ng-click="close()" class="btn btn-sm button-negative"> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container-fluid text-left" ng-init="isCollapsed = true" ng-if="pwChange()">
            <div class="row text-center">
                <a href="" ng-click="isCollapsed = !isCollapsed" style="color: #c50a0a">Change Password</a>
            </div>
            <div class="row" style="padding-top: 10px">
                <div class="well well" uib-collapse="isCollapsed">
                    <form name="formPW" class="form-horizontal css-form" ng-submit="savePW(pw)">
                        <div class="form-group">
                            <label for="pwOld">Old Password:</label>
                            <input required type="password" ng-model="pw.old" name="pwOld" id="pwOld" class="form-control">
                        </div>
                        <div ng-show="formPW.$submitted || formPW.pwOld.$touched">
                            <p ng-show="!formPW.pwOld.$valid">Password was left blank.</p>
                        </div>
                        <div class="form-group">
                            <label for="pwNew">New Password:</label>
                            <input required type="password" ng-model="pw.new" name="pwNew" id="pwNew" class="form-control" pattern="[^\s]{6,}" uib-tooltip="Password must be at least 6 characters long and must not contain any spaces." tooltip-placement="bottom-left" tooltip-trigger="'focus'" tooltip-class="custom-tooltip">
                        </div>
                        <div ng-show="formPW.$submitted || formPW.pwNew.$touched">
                            <p ng-show="!formPW.pwNew.$valid">Password is too short or contains a space.</p>
                        </div>
                        <div class="form-group">
                            <label for="pwCon">Confirm New Password:</label>
                            <input required type="password" ng-model="pw.confirm" name="pwCon" id="pwCon" class="form-control" pw-check="pwNew">
                        </div>
                        <div ng-show="formPW.$submitted || formPW.pwCon.$touched">
                            <p ng-show="formPW.pwCon.$error.pwmatch">Passwords do not match.</p>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 text-center" style="margin: 10px 0">
                                <button type="submit" class="btn btn-sm button-affirmative"> Save Password
                                </button>
                            </div>
                            <div class="col-xs-6 text-center" style="margin: 10px 0">
                                <button type="button" ng-click="isCollapsed = !isCollapsed" class="btn btn-sm button-negative"> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="skinny" ng-if="hasOrder">
        <div class="container-fluid" ng-if="hasOrder">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 text-center" style="color: #3e3e3e; font-weight: bold;"><u>Current Order Info</u></div>
                <div class="col-xs-2 text-right"><button class="btn btn-xs button-affirmative" ng-click="editOrderInfo()"><span class="glyphicon glyphicon-edit"></span></button></div>
                <div class="col-xs-12 text-center cartItemDesc">{{orderInfo.type}}</div>
                <div class="col-xs-12 text-center cartItemDesc">{{orderInfo.date.string}} - {{orderInfo.time.string}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12 text-center" style="padding-top: 20px">
            <a style="color: #c50a0a" href="" ng-click="logout()">Logout</a>
        </div>
    </div>
</div>