<!DOCTYPE html>
<html data-ng-app="SiamClassic">
<head>
    <title>Siam Classic Restaurant</title>
    <link rel="icon" href="images/logo-hand-brand.png">
    <meta charset="utf-8">
    <meta name="description" content="Website of the official Siam Classic Restaurant">
    <meta name="keywords" content="ngMap,AngularJS,center">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script data-require="angular.js@1.4.8" data-semver="1.4.8"
            src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="angular-route@1.4.0-beta.4" data-semver="1.4.0-beta.4"
            src="https://code.angularjs.org/1.4.0-beta.4/angular-route.js"></script>-->
    <script data-require="angular.js@1.5.0" data-semver="1.5.0"
            src="https://code.angularjs.org/1.5.0/angular.js"></script>
    <script data-require="angular-route@1.5.0" data-semver="1.5.0"
            src="https://code.angularjs.org/1.5.0/angular-route.js"></script>
    <script src="external/angular-touch/js/angular-touch.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://eat24hrs.com/buttons/css/eat24-button-branded-sq.css" rel="stylesheet" type="text/css">

    <!-- Moment CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

    <!-- Link the Bootstrap UI file -->
    <!--<script data-semver="0.14.3"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>-->

    <!-- Google API -->
    <script type="text/javascript" charset="UTF-8"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9yvLlaJwsOeg5ceMUBGDBSqcriaSqRMk&libraries=geometry"></script>
    <link href='//fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>

    <!--UI Bootstrap-->
    <script src="external/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <link href="css/style.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/services-directives.js"></script>
</head>
<body ng-controller="indexController">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/Home"><span><img src="images/logo-hand-brand.png" width="20"></span> Siam Classic</a>
        </div>

        <div class="collapse navbar-collapse" id="index-menu">
            <ul class="nav navbar-nav navbar-right" style="letter-spacing: 3px;">
                <li ng-class="{'active' : currentPage === '/Home'}">
                    <a class="nav-links" href="#/Home">Home</a>
                </li>
                <li ng-class="{'active' : currentPage === '/Home/menu'}">
                    <a class="nav-links" href="" ng-click="setTabIndex(0)">Menu</a>
                </li>
                <li ng-class="{'active' : currentPage === '/Home/about'}">
                    <a class="nav-links" href="#/Home/about">About</a>
                </li>
                <li ng-class="{'active' : currentPage === '/Home/reviews'}">
                    <a class="nav-links" href="#/Home/reviews">Reviews</a>
                </li>
                <li ng-if="!isOrdering()">
                    <a class="nav-links" href="" ng-click="orderOnlineStart()" style="outline: none">Start an Order</a>
                </li>
                <!--<li ng-if="isOrdering()" >
                    <a class="nav-links" href="" ng-click="openCart()" style="outline: none">Shopping Cart <span class="glyphicon glyphicon-shopping-cart"></span></a>
                </li>
                <li ng-if="!hasCustomerInfo()">
                    <a class="nav-links" href="" ng-click="openLogin()" style="outline: none">Login</a>
                </li>
                <li ng-if="!hasCustomerInfo()">
                    <a class="nav-links" href="" ng-click="openSignUp()" style="outline: none">Sign Up</a>
                </li>
                <li ng-if="hasCustomerInfo()">
                    <a class="nav-links" href="" ng-click="openUser()" style="outline: none">Profile <span class="glyphicon glyphicon-user"></span></a>
                </li>
            </ul>-->
        </div>
    </div>

    <div class="affix text-right" style="right: 0; padding-right: 1vw; padding-top: 25vh">
        <!--<div class="row hidden-lg hidden-md hidden-sm" style="margin-top: 1vh" ng-if="!hasCustomerInfo()">
            <button class="btn index-affix-btn btn-md" ng-click="openLogin()">Login</button>
        </div>
        <div class="row hidden-lg hidden-md hidden-sm" style="margin-top: 1vh" ng-if="!hasCustomerInfo()">
            <button class="btn index-affix-btn btn-md" ng-click="openSignUp()">Sign Up</button>
        </div>
        <div class="row hidden-lg hidden-md hidden-sm" style="margin-top: 1vh" ng-if="hasCustomerInfo()">
            <button class="btn index-affix-btn btn-lg" ng-click="openUser()"><span class="glyphicon glyphicon-user"></span></button>
        </div>-->
        <div class="row hidden-lg hidden-md hidden-sm" style="margin-top: 1vh;" ng-if="!isOrdering()">
            <button class="btn index-affix-btn btn-md" ng-click="orderOnlineStart()">Order</button>
        </div>
        <!--<div class="row hidden-lg" style="margin-top: 1vh" ng-if="isOrdering()">
            <button class="btn index-affix-btn btn-lg" ng-click="openCart()"><span class="glyphicon glyphicon-shopping-cart"></span></button>
        </div>-->
    </div>
</nav>
<div id="loadingScreen" class="affix text-center" style="z-index: 2000; width: 100vw; height: 100vh; background: rgba(0,0,0,.95); top: 0; left: 0;" ng-if="wait">
    <div class="container">
        <img src="images/SC-icon-gif2.gif" class="img-responsive" style="max-height: 30vh; margin: 30vh auto 0 auto">
        <p>PROCESSING . . .</p>
    </div>
</div>
<div class="affix text-center" style="bottom: 50px; z-index: 10; width: 80vw; padding: 0; margin-left:10vw; margin-right: 10vw;">
    <div uib-alert class="alert alert-info" ng-if="showUpdateAlert"><strong>Info updated!</strong></div>
</div>
<div class="affix text-center" style="bottom: 50px; z-index: 10; width: 80vw; padding: 0; margin-left:10vw; margin-right: 10vw;">
    <div uib-alert class="alert alert-danger" ng-if="showCancelAlert">Your order was canceled</div>
</div>
<div class="container-fluid" style="padding: 0; margin: 0" data-spy="scroll" data-target="#sidebar">
    <div ng-view="" autoscroll="true"></div>
</div>
<footer style="padding-top: 100px;" id="footer">
        <div class="container-fluid">
            <div class="row" style="padding-bottom: 20px">
                <div class="col-xs-12 text-center"><a style="color: #c50a0a" href="resources/SiamClassicCarryOutMenu.pdf" target="_blank">Download Menu PDF</a></div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-4 text-center"><a href="#/Home" style="color: #c50a0a"><b>Home</b></a></div>
                <div class="col-sm-2 col-xs-4 text-center"><a href="#/Home/about" style="color: #c50a0a"><b>About</b></a></div>
                <div class="col-sm-2 col-xs-4 text-center"><a href="#/Home/reviews" style="color: #c50a0a"><b>Reviews</b></a></div>
                <div class="col-sm-2 col-xs-6 text-center"><a href="#/Home/menu" style="color: #c50a0a"><b>Menu</b></a></div>
                <div class="col-sm-2 col-xs-6 text-center"><a href="" ng-click="orderOnlineStart()" style="color: #c50a0a"><b>Order</b></a></div>
            </div>
            <div class="row" style="padding-top: 20px; padding-bottom: 20px">
                <div class="col-sm-4 col-xs-12 text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <p> <b><u>Siam Classic</u></b><br>
                        9403 East Street, Manassas, VA<br>
                        703-368-5647<br>
                        703-368-3446<br>
                        siamclassicva@gmail.com
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <b><u>Find Us On</u></b><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <a href="" ng-click="goToExternal('https://www.facebook.com/pages/Siam-Classic/120614667955133')"><img src="images/social media/facebook.png" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-2">
                            <a href="" ng-click="goToExternal('https://www.google.com/maps/place/Siam+Classic/@38.7517314,-77.4705619,15z/data=!4m5!3m4!1s0x0:0x18ac6b631c5a3b48!8m2!3d38.7517314!4d-77.4705619')"><img src="images/social media/google.png" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-2">
                            <a href="" ng-click="goToExternal('https://www.pinterest.com/siamclassicva')"><img src="images/social media/pinterest.png" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-2">
                            <a href="" ng-click="goToExternal('https://twitter.com/siamclassicva')"><img src="images/social media/twitter.png" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-2">
                            <a href="" ng-click="goToExternal('https://foursquare.com/v/siam-classic/4b776a6af964a52001992ee3')"><img src="images/social media/foursquare.png" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-2">
                            <a href="" ng-click="goToExternal('https://www.yelp.com/biz/siam-classic-manassas')"><img src="images/social media/yelp.png" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 text-center" style="margin-top: 20px; margin-bottom: 20px">
                    <p>
                        <b><u>Hours</u></b><br>
                        11:00 am to 09:30 pm - Monday thru Thursday<br>
                        11:00 am to 10:00 pm - Friday<br>
                        11:00 am to 10:00 pm - Saturday<br>
                        11:00 am to 09:30 pm - Sunday<br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6 text-center">
                    <small><a href="resources/refund_delivery_policy.html" target="_blank" style="color: black">Refund & Delivery Policy</a></small>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <small><a href="" style="color: black">Privacy Policy</a></small>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <small><a href="" style="color: black">Contact Us</a></small>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <small><a href="" style="color: black">Jobs</a></small>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12 text-center"><small>Website Designed by ITEVO LLC.</small></div>
                <div class="col-sm-6 col-xs-12 text-center"><small>sales@itevollc.com, 571-357-9092</small></div>
            </div>
        </div>
</footer>
</body>
</html>
