/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.navbar-default, a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s
}

header, header .header-content {
    position: relative;
    width: 100%;
    text-align: center
}

body, html {
    height: 100%;
    width: 100%
}

body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    webkit-tap-highlight-color: #222
}

.btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

hr {
    border-color: #a22525;
    border-width: 3px;
    max-width: 50px
}

hr.light {
    border-color: #fff
}

a {
    transition: all .35s;
    color: #a22525
}

a:focus, a:hover {
    color: #eb3812
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px
}

.bg-primary {
    background-color: #a22525
}

.bg-dark {
    background-color: #222;
    color: #fff
}

.text-faded {
    color: rgba(255, 255, 255, .7)
}

section {
    padding: 100px 0
}

aside {
    padding: 50px 0
}

.no-padding {
    padding: 0
}

.navbar-default {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .05);
    transition: all .35s
}

.btn-default, .portfolio-box .portfolio-box-caption {
    -webkit-transition: all .35s;
    -moz-transition: all .35s
}

.navbar-default .navbar-header .navbar-brand {
    color: #a22525;
    font-weight: 700;
    text-transform: uppercase
}

.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
    color: #eb3812
}

.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222;
    text-transform: uppercase
}

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222
}

.navbar-default .nav > li > a:focus:hover, .navbar-default .nav > li > a:hover {
    color: #a22525
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
    color: #a22525 !important;
    background-color: blue
}

.navbar-default .nav > li.active > a:focus:hover, .navbar-default .nav > li.active > a:hover {
    background-color: blue
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, .3)
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7)
    }

    .navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
        color: #fff
    }

    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, .7)
    }

    .navbar-default .nav > li > a:focus:hover, .navbar-default .nav > li > a:hover {
        color: #fff
    }

    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, .05)
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        color: #a22525;
        font-size: 14px
    }

    .navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover {
        color: #eb3812
    }

    .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus {
        color: #222
    }

    .navbar-default.affix .nav > li > a:focus:hover, .navbar-default.affix .nav > li > a:hover {
        color: #a22525
    }
}

header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../../images/header.jpg);
    color: #fff
}

header .header-content {
    padding: 100px 15px
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px
}

header .header-content .header-content-inner hr {
    margin: 30px auto
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    margin-bottom: 50px
}

@media (min-width: 768px) {
    header {
        min-height: 100%
    }

    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px
    }

    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto
    }

    header .header-content .header-content-inner h1 {
        font-size: 50px
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}

.section-heading {
    margin-top: 0
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0
    }
}

.service-box p {
    margin-bottom: 0
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto
}

.portfolio-box .portfolio-box-caption {
    color: #fff;
    opacity: 0;
    display: block;
    background: #383a44;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s
}

.btn-default.active, .btn-default:active, .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-primary {
    background-image: none
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1
}

.portfolio-box:focus {
    outline: 0
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px
    }
}

.call-to-action h2 {
    margin: 0 auto 20px
}

.text-primary {
    color: #a22525
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.btn-default {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    transition: all .35s
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #222;
    background-color: #f2f2f2;
    border-color: #ededed
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #fff
}

.btn-default .badge {
    color: #fff;
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #a22525;
    border-color: #a22525;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ee4b28;
    border-color: #ed431f
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #a22525;
    border-color: #a22525
}

.btn-primary .badge {
    color: #a22525;
    background-color: #fff
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase
}

.btn-xl {
    padding: 15px 30px
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #222
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #222
}

img::selection {
    color: #fff;
    background: 0 0
}

img::-moz-selection {
    color: #fff;
    background: 0 0
}