#homeHeading1 {
    font-size: 27px;
    letter-spacing: 10px;
}

#homeHeading2 {
    font-family: 'Lobster', cursive;
    letter-spacing: 10px;
    margin-top: 10px;
}

header .header-content .header-content-inner p {
    color: #dadada;
}

.customWrapper1 {
    background: #821616;
    border: 2px solid #7b0404;
    padding: 40px;
}

.customWrapper2 {
    background: #000000;
    padding: 20px;
}

.fa {
    margin-bottom: 15px;
}

.p-footer {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.img-responsive {
    filter: grayscale(50%);
}

.navbar-default {
    border: 0;
}

.navbar-toggle {
    padding: 5px 10px;
    border: 0;
    background: #FFF;
}