body {
    background: #f0f0f0;
}

.container-1 {
    background: #FFF;
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 100%;
    min-height: 500px;
}

.container-2 {

}

.contentHead {
    min-height: 0px;
    height: 100%;
}

.contentBody {

}

.contentMain {
    padding: 20px;
    text-align: center;
}

.clr {
    clear: both;
}

.menuItem {
    margin: 30px 0;
    width: 100%;
    max-width: 380px;
    font-family: "Open Sans", "Arial";
    letter-spacing: 1px;
}

.menuItem:hover {
    cursor: pointer;
}

.menuItemTop {
    margin-bottom: 5px;
    font-size: 16px;
}

.menuItemName {
    color: #c50a0a;
    font-weight: bold;
    float: left;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

.menuItemName:hover {
    color: #870a0a;
}

.menuItemPrice {
    color: #3e3e3e;
    font-weight: bold;
    float: right;
}

.menuItemBottom {
    color: gray;
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
    min-height: 40px;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

.menuItemBottom:hover {
    color: #000;
}

.menuLeft {
    margin-right: 50px;
    float: left;
}

.menuRight {
    float: left;
}

.menuGroupAlignment {
    display: inline-block;
    width: 100%;
    max-width: 810px;
}

.menuItemGroup {
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0;
    border-bottom: 5px solid;
    padding-bottom: 10px;
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

.menuImgCover {
    margin-bottom: 30px;
}

.menuImgCoverEle {
    float: left;
    background: #FFF;
    min-height: 300px;
    max-width: 300px;
    font-family: "Times New Roman", sans-serif;
}

.menuImgCoverEleBottom {
    padding: 10px;
    letter-spacing: 1px;
    color: #616161;
    text-align: left;
    line-height: 21px;
    min-height: 100px;
}

.introCover {
    margin: 30px 0;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: "Times New Roman", sans-serif;
}

.introLeft {
    float: left;
    width: 50%;
    text-align: justify;
    color: gray;
}

.introRight {
    text-align: center;
    float: right;
    width: 50%;
}

.imgRightIntro {
    border: 3px solid gray;
}

.introBottom {
    text-align: justify;
    padding-top: 20px;
    color: gray;
}

.introSlogan {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding: 15px 0;
    font-family: "Karla", "Arial", sans-serif;
}

.strong {
    color: #c50a0a;
}

.topIndex {
    background: #3e3e3e;
    min-height: 30px;
    color: #afafaf;
    font-family: Arial, sans-serif;
    width: 980px;
}
.topMenu {
    background: #981616;
    min-height: 30px;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 15px;
    width: 980px;
}
.menuElement {
    padding: 7px 20px;
    display: inline-block;
    cursor: pointer;
    float: left;
}

.menuElement:hover {
    background: #747474;
}

.oddMenuElement {
    background: #595959;
}
.menuTag {
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    float: left;
}

.menuTag:hover {
    background: #ce7070;
}


.menuContact {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.banner-1 {
    background-image: url("../../images/banner-1.jpg");
    width: 100%;
    min-height: 300px;
}
.banner-1-new {
    background-image: url("../../images/banner-logo-diet.png");
    background-size: 980px auto;
    width: 100%;
    min-height: 300px;
}

.banner-2 {
    background: #981616;
    width: 100%;
    min-height: 30px;
}

.banner-3 {
    background-image: url("../../images/banner-3.jpg");
    width: 100%;
    min-height: 550px;
}

.hashTag {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.hashTagElement {
    padding: 0 10px;
    float: left;
    margin: 8px 0;
}

.b3-sub-1 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
    padding: 20px 20px;
}

.b3-sub-1-c {
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    display: inline-block;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 4px;
}

.b3-sub-3 {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.b3-sub-3-c {
    border: 10px solid #FFF;
}

.b3-sub-2 {
    float: left;
    font-size: 30px;
    color: #FFF;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: #272727;
    padding: 20px
}

.b3-sub-2-c {
    padding: 10px 0;
}

.b3-sub-2-c-min {
    line-height: 30px;
    font-size: 16px;
    margin-left: 20px;
}

.strong-cyan {
    color: #00dada;
}

.strong-lightPink {
    color: #ce7070;
}

.strong-dark {
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
}

.banner-4 {
    width: 100%;
    min-height: 300px;
    background: #111111;
}

.banner-4-paddingContainer {
    padding: 20px;
}
.banner-5 {
    width: 100%;
    min-height: 300px;
    background: transparent;
}
.index-bottom-pad{
    padding-bottom: 30px;
}