/* CSS Document */
html {
  position: relative;
  min-height: 100%;
}
body{
	margin-bottom: 100px;
	font-family: Arial, Helvetica, sans-serif;
}
#top-banner{
	background:url(../../imagesOld/banner3_BW.png) no-repeat center;
	background-color: black;
	background-size: 100% auto;
}
.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
     color: #000 !important;
     background-color: #fff !important;
 }
li.active a.ng-binding {
	color: #FFF !important;
	background-color: rgba(0,0,0,0.75) !important;
	border: black 1px solid;
	text-decoration: none;
}
li a.ng-binding:hover {
	color: #000 !important;
	background-color: rgba(0,0,0,0.5) !important;
	border: black 1px solid;
	text-decoration: none;
}
li a.ng-binding {
	color: white;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
}
.menu-side-bar{
	background-color: rgb(0,0,0);
}
.menu-side-bar-options{
	color: white;
}
.menu-add-to-order-input{
	width: 30px;
	color: black;
	text-align: center;
}
a.menu-chevron{
	color: white;
}
a.menu-chevron:hover{
	color: darkgray;
}
.top-navbar{
	background-color: rgba(0,0,0,0.9);
	border: solid 0px black;
}
.jumbotron{
	padding-top: 250px;
	padding-bottom: 250px;
}
.jumbotron p, h1{
	background-color: rgba(0,0,0,0.5);
	color:  white;
}
.jumbotron b{
	color: white;
}
.home-page-thumb{
	border: white 2px double;
	border-radius: 10px;
	/*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
	background: url('../../imagesOld/Thumb_Back_Half.png');
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	height: 100%
}
.home-page-thumb-hover:hover{
	border: white 2px double;
	border-radius: 10px;
	/*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
	background: url('../../imagesOld/Thumb_Back_Half.png');
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0.3);
	color: white;
	height: 100%;
}
.home-page-thumb-announce{
	border: red 5px double;
	border-radius: 10px;
	/*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
	background: url('../../imagesOld/Thumb_Back_Half.png');
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	height: 100%
}
.home-link-btn{
	color: white;
}
.home-link-btn:hover{
	color: white;
}
.menu-content{
	/*background: url('../images/Thumb_Back.png');
	background-size: 100% 100%;*/
	/*background-color: rgba(0,0,0,0.5);
	height: 100%;
	border: white 2px double;
	border-radius: 10px;*/
}
.menu-page-thumb{
	border: white 2px double;
	border-radius: 10px;
	/*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
	background: url('../../imagesOld/Thumb_Back_Half.png');
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0.9);
	color: white;
}
.menu-page-thumb:hover{
	border: black 2px double;
	border-radius: 10px;
	/*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
	background: url('../../imagesOld/Thumb_Back_Half_White.png');
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0.1);
	color: black;
	height: 100%
}
.button-thumb{
	background-color:rgb(254,254,254);
	color: black;
	border: black 1px solid;
	border-radius: 5px;
}
.button-thumb:hover{
	background-color:rgb(0,0,0);
	color: white;
	border: white 1px solid;
	border-radius: 5px;
}
a.photo{
	color: white;
}
.photo-icon{
	padding-top: 25px;
}
.gallery-background{
	background: url('../../imagesOld/Thumb_Back.png') center /cover;
	background-size: 100% auto;
}
.reviews-background{
    background: url('../../imagesOld/Thumb_Back.png') center /cover;
    background-size: 100% auto;
}
.reviews-boxes{
    background: white;
    border: 1px black solid;
    border-radius: 15px
}
.jumper{
	color: black;
}
.footer {
  	position: absolute;
 	bottom: 0;
  	width: 100%;
  /* Set the fixed height of the footer here */
  	height: 70px;
  	background-color: white;
	border-top: 1px black solid;
	
}
.top-buffer-small{
	margin-top: 10px;
}
.top-buffer{
	margin-top: 25px;
}
.top-buffer-large{
	margin-top: 50px;
}
.top-buffer-extra-large{
	margin-top: 75px;
}
.bottom-buffer-small{
	margin-bottom: 10px;
}
.bottom-buffer{
	margin-bottom: 25px;
}
.bottom-buffer-large{
	margin-bottom: 50px;
}
.vertical-buffer-extra-small{
	margin-top: 5px;
	margin-bottom: 5px;
}
.top-padding-small{
	padding-top: 10px;
}
.top-padding{
	padding-top: 25px;
}
.top-padding-large{
	padding-top: 50px;
}
.bottom-padding-small{
	padding-bottom: 10px;
}
.bottom-padding{
	padding-bottom: 25px;
}
.bottom-padding-large{
	padding-bottom: 50px;
}
.vertical-padding-extra-small{
	padding-top: 5px;
	padding-bottom: 5px;
}
.vertical-padding-small{
	padding-top: 10px;
	padding-bottom: 10px;
}
.affixCheck{
	position: relative;
	left: 0px;
}

@media (max-width: 979px) { 
	.jumbotron { 
		margin-top: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
	} 
}
@media(min-width: 768px){
	.vertical-center {
		min-height: 100%;
		display: flex;
		align-items: center;
	}
	.jumper{
		visibility: hidden;
	}
	.affix{
		position: fixed;
	}
}
@media (max-width: 767px) {
	.affix {
		position: static;
	}
}
#previewBar {
	position: static;
	width: auto;
	top: 0;
}