/* CSS Document */
html {
    position: relative;
    min-height: 100%;
    background-color: #FAF8BF;
}
body{
    margin-bottom: 100px;
    background-color: #FAF8BF;
    /*font-family: Arial, Helvetica, sans-serif*/;
    font-family: Amaranth;
}
#top-banner{
    background:url('../../imagesOld/photo06.jpg') no-repeat center;
    background-color: #592921;
    background-size: 100% auto;
}
.navbar-default .navbar-toggle{
    background-color: #592921;
    border-color: #FAF8BF;
}
.navbar-default .navbar-toggle:hover{
    background-color: #FAF8BF;
    border-color: #592921;
}
.navbar-default .navbar-toggle:focus{
    background-color: #592921;
    border-color: #FAF8BF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FAF8BF;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #592921;
}
.navbar li a, .navbar .navbar-brand {
    color: #FAF8BF !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #592921 !important;
    background-color: #FAF8BF !important;
}
.navbar-image{
    max-width: 30px;
}
li.active a.ng-binding {
    color: #FAF8BF !important;
    background-color: rgba(89,41,33,0.75) !important;
    border: #592921 1px solid;
    text-decoration: none;
}
li a.ng-binding:hover {
    color: #592921 !important;
    background-color: rgba(89,41,33,0.5) !important;
    background: #FAF8BF !important;
    border: #592921 1px solid;
    text-decoration: none;
}
li a.ng-binding {
    color: #FAF8BF;
    background-color: rgba(89,41,33,0.9);
    text-decoration: none;
}
.top-navbar{
    background-color: rgba(89,41,33,0.9);
    border: solid 0px #592921;
}
.jumbotron{
    padding-top: 150px;
    padding-bottom: 150px;
}
.jumbotron p, h1{
    background-color: rgba(89,41,33,0.5);
    color:  #FAF8BF;
}
.jumbotron b{
    color: #FAF8BF;
}
.home-page-thumb{
    border: #FAF8BF 2px double;
    border-radius: 10px;
    /*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
    background: url('../../imagesOld/Thumb_Back_Half_Red.png');
    background-size: 100% 100%;
    background-color: rgba(89,41,33,0.8);
    color: #FAF8BF;
    height: 100%
}
.home-page-thumb-hover:hover{
    border: #592921 2px double;
    border-radius: 10px;
    /*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
    background: url('../../imagesOld/Thumb_Back_Half_Red.png');
    background-size: 100% 100%;
    background-color: rgba(89,41,33,0.3);
    color: #592921;
    height: 100%
}
.home-page-thumb-announce{
    border: #FAF8BF 5px double;
    border-radius: 10px;
    /*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
    background: url('../../imagesOld/Thumb_Back_Half_Red.png');
    background-size: 100% 100%;
    background-color: rgba(89,41,33,0.8);
    color: #FAF8BF;
    height: 100%
}
.home-link-btn{
    color: #FAF8BF;
}
.home-link-btn:hover{
    color: #FAF8BF;
}
.home-page-button{
    background: rgb(153,72,57);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image:      -o-linear-gradient(top,rgb(153,72,57) 0%, rgb(89,41,33) 100%);
    background-image:         linear-gradient(to bottom, rgb(153,72,57) 0%, rgb(89,41,33) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, rgb(153,72,57) 0%, rgb(89,41,33) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(153,72,57)), to(rgb(89,41,33)));
    color: #FAF8BF;
    transition-duration: 0.2s;
}
.home-page-button:hover{
    box-shadow: inset 5px 5px 5px rgba(89,41,33, 1);
    color: #FAF8BF;
}
.home-page-button:active:focus{
    box-shadow: inset 5px 5px 5px rgba(89,41,33, 1);
    background: #592921; !important;
    color: #FAF8BF;
}
.home-page-button:active, .home-page-button:focus{
    outline: none !important;
    color: #FAF8BF;
}
.home-page-container{
    background: radial-gradient(#FAF8BF 90%, #592921 10%);
    padding: 75px;
    border: 2px #592921 solid
}
.menu-content{
    /*background: url('../images/Thumb_Back_Red.png');
    background-size: 100% 100%;
    background-color: rgba(89,41,33,0.5);
    height: 100%;
    border: #FAF8BF 2px double;
    border-radius: 10px;*/
}
.menu-page-thumb{
    border: #FAF8BF 2px double;
    border-radius: 10px;
    /*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
    background: url('../../imagesOld/Thumb_Back_Half_Red.png');
    background-size: 100% 100%;
    background-color: rgba(89,41,33,0.9);
    color: #FAF8BF;
}
.menu-page-thumb:hover{
    border: #592921 2px double;
    border-radius: 10px;
    /*background: url(images/Thumb_Back_Half.png) no-repeat center /cover;*/
    background: url('../../imagesOld/Thumb_Back_Half_Tan.png');
    background-size: 100% 100%;
    background-color: rgba(89,41,33,0.1);
    color: #592921;
    height: 100%
}
a.normal{}
@media(min-width: 768px){
    .menu-container{
        background: radial-gradient(ellipse, #FAF8BF 95%, #592921 5%);
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        border: 2px #592921 solid
    }
}
.menu-side-bar{
    background-color: #592921;
}
.menu-side-bar-options{
    color: #FAF8BF;
}
.menu-add-to-order-input{
    width: 30px;
    color: #592921;
    text-align: center;
}
a.menu-chevron{
    color: black;
}
a.menu-chevron:hover{
    color: darkgray;
}
.menu-title-img{
    max-width: 50px;
}
.menu-small-dropdown{
    background: rgb(153,72,57);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image:      -o-linear-gradient(top,rgb(153,72,57) 0%, rgb(89,41,33) 100%);
    background-image:         linear-gradient(to bottom, rgb(153,72,57) 0%, rgb(89,41,33) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, rgb(153,72,57) 0%, rgb(89,41,33) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(153,72,57)), to(rgb(89,41,33)));
    color: #FAF8BF;
    transition-duration: 0.2s;
}
.menu-small-dropdown:hover{
    box-shadow: inset 5px 5px 5px rgba(89,41,33, 1);
    color: #FAF8BF;
}
.menu-small-dropdown:focus{
    color: #FAF8BF;
}
.menu-small-dropdown-body{
    background: #FAF8BF;
    border: 1px solid #592921;
}
.menu-small-dropdown-body>li>a{
    color: #592921; !important;
}
.menu-small-dropdown-body>li:hover>a:hover{
    background-color: #592921; !important;
    color: #FAF8BF; !important;
}
.button-thumb{
    background-color:#FAF8BF;
    color: #592921;
    border: #592921 1px solid;
    border-radius: 5px;
}
.button-thumb:hover{
    background-color:#592921;
    color: #FAF8BF;
    border: #FAF8BF 1px solid;
    border-radius: 5px;
}
a.photo{
    color: #FAF8BF;
}
.photo-icon{
    padding-top: 25px;
}
.gallery-background{
    background: url('../../imagesOld/Thumb_Back_Red.png') center /cover;
    background-size: 100% auto;
}
a.reviews-link{
    color: #592921;
}
.reviews-background{
    background: url('../../imagesOld/Thumb_Back_Red.png') center /cover;
    background-size: 100% auto;
}
.reviews-boxes{
    background: #FAF8BF;
    border: 1px #592921 solid;
    border-radius: 15px;
    background: radial-gradient(#FAF8BF 90%, #592921 10%);
}
.jumper{
    color: #592921;
}
.carousel-control.left {
    background: linear-gradient(to right, #592921, transparent);
}
.carousel-control.right{
    background: linear-gradient(to left, #592921, transparent);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #592921;
    border-top: 1px #592921 solid;
    color: #FAF8BF;
}
.footer a{
    color: rgb(198,115,100);
}
.footer-right-column{
    text-align: right;
}
.top-buffer-small{
    margin-top: 10px;
}
.top-buffer{
    margin-top: 25px;
}
.top-buffer-large{
    margin-top: 50px;
}
.top-buffer-extra-large{
    margin-top: 75px;
}
.bottom-buffer-small{
    margin-bottom: 10px;
}
.bottom-buffer{
    margin-bottom: 25px;
}
.bottom-buffer-large{
    margin-bottom: 50px;
}
.vertical-buffer-extra-small{
    margin-top: 5px;
    margin-bottom: 5px;
}
.top-padding-small{
    padding-top: 10px;
}
.top-padding{
    padding-top: 25px;
}
.top-padding-large{
    padding-top: 50px;
}
.bottom-padding-small{
    padding-bottom: 10px;
}
.bottom-padding{
    padding-bottom: 25px;
}
.bottom-padding-large{
    padding-bottom: 50px;
}
.vertical-padding-extra-small{
    padding-top: 5px;
    padding-bottom: 5px;
}
.vertical-padding-small{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 979px) {
    .jumbotron {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media(min-width: 768px){
    .vertical-center {
        min-height: 100%;
        display: flex;
        align-items: center;
    }
    .jumper{
        visibility: hidden;
    }
    .affix{
        position: fixed;
    }
    .menu-small-show{
        display: none;
    }
}
@media (max-width: 767px) {
    .affix {
        position: static;
    }
    .menu-big-show{
        display: none;
    }
    .home-buttons-responsive-margin{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer{
        text-align: center;
    }
    .footer-right-column{
        text-align: center;
    }
}
.eat24 {
    background: url(http://eat24hrs.com/buttons/images/v2/e24_brand-sq_red289_btn.png) 0 0;
}
.eat24:hover {
    background-position: 0 -120px;
}
.eat24:active {
     background-position: 0 -240px;
 }
.eat24-sq-brnd {
    font-size: 16px;
    background-color: #ce0000;
    color: #fff;
    box-shadow: .0625em .0625em .1875em rgba(34,34,34,.5), inset 0 0 0 .0625em #a80000;
}
.eat24-sq-brnd:hover {
    box-shadow: .0625em .0625em .1875em rgba(34,34,34,.5), inset 0 0 0 .125em #a80000;
}
.eat24-sq-brnd::after {
    border-color: transparent transparent transparent #fff;
}
.eat24-sq-brnd::before {
    background-image: url(http://eat24hrs.com/buttons/button-logos/eat24-brand-ffffff.png);
}